
/* 
    button-component-start
*/

/* menu-btn */
.pf-menu-btn-1 {
    cursor: pointer;
    stroke: var(--pf-clr-white-1);
    opacity: 64%;
    transition: all .4s var(--pf-cube-2);

    &:hover {
        opacity: 100%;
    }
}

/* search-btn-1 */
.pf-search-btn-1 {
    border: none;
    outline: none;
    flex: 0 0 auto;
    background: transparent;
    padding: 0;
    stroke: var(--pf-clr-white-1);
    opacity: 64%;
    transition: all .4s var(--pf-cube-2);

    &:hover {
        opacity: 100%;
    }
}

/* pr-btn-1 */
.pf-pr-1 {
    flex: 0 0 auto;
    font-family: var(--pf-font-h-1);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(255 255 255 / 4%);
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 12px;
    padding: 16px 24px;
    color: var(--pf-clr-pr-1);
    transition: all .4s var(--pf-cube-2);

    &:hover {
        background-color: var(--pf-clr-pr-1);
        color: var(--pf-clr-white-1);
    }
}

/* 
    button-component-end
*/