
/* 
    button-component-start
*/

/* menu-btn-1 */
.pf-menu-btn-1 {
    cursor: pointer;
    stroke: var(--pf-clr-white-1);
    opacity: 64%;
    transition: all .4s var(--pf-cube-2);

    &:hover {
        opacity: 100%;
    }

    svg *{
        transition: all .4s var(--pf-cube-2);
    }

    &:hover {
        svg {
            line {
                stroke: var(--pf-clr-pr-1);
                &:nth-child(1) {
                    transform: translateX(-5px);
                }
                &:nth-child(2) {
                    transform: translateX(5px);
                }
                &:nth-child(3) {
                    transform: translateX(5px);
                }
            }
        }
    }
}

/* menu-btn-2 */
.pf-menu-btn-2 {
    width: 25px;
    height: 25px;
    flex: 0 0 auto;
    background: transparent;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    gap: 5px;
    transition: all .4s var(--pf-cube-2);

    span {
        display: inline-block;
        flex: 0 0 auto;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        transition: all .4s var(--pf-cube-2);
    }

    &:hover {
        span {
            background: var(--pf-clr-black-3);
            &:nth-child(1) {
                transform: scaleX(4.5);
                border-radius: 0;
                transform-origin: left;
            }

            &:nth-child(6) {
                transform: scaleX(4.5);
                border-radius: 0;
                transform-origin: right;
            }

            &:nth-child(7) {
                transform: scaleX(4.5);
                border-radius: 0;
                transform-origin: left;
            }

        }
    }
}


/* search-btn-1 */
.pf-search-btn-1 {
    border: none;
    outline: none;
    flex: 0 0 auto;
    background: transparent;
    padding: 0;
    stroke: var(--pf-clr-white-1);
    opacity: 64%;
    transition: all .4s var(--pf-cube-2);

    &:hover {
        opacity: 100%;
        stroke: var(--pf-clr-pr-1);

        svg {
            line {
                transform: scale(1.4) translate(-10px, -10px);
            }
        }
    }
}

/* search-btn-2 */

.pf-search-btn-2 {
    font-family: var(--pf-font-h-1);
    text-transform: capitalize;
    color: rgb(255 255 255 / 40%);
    font-size: 14px;
    background: transparent;
    font-weight: 300;
    padding: 0;
    transition: all .4s var(--pf-cube-2);
    flex: 0 0 auto;
    fill: transparent;
    stroke: var(--pf-clr-white-1);
    display: flex;
    align-items: center;
    gap: 8px;
    border-left: 1px solid rgb(255 255 255 / 28%);
    border-right: 1px solid rgb(255 255 255 / 28%);
    padding: 6px 16px;
    padding-right: 95px;
 


    svg {
        width: 20px;
        height: 20px;
    }


    &:hover {
        color: var(--pf-clr-white-1);

        svg {
            line {
                transform: scale(1.4) translate(-8px, -8px);
            }
        }
    }
}

/* pr-btn-1 */
.pf-pr-1 {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    font-family: var(--pf-font-h-1);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(255 255 255 / 4%);
    backdrop-filter: blur(8px);
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 12px;
    padding: 16px 24px;
    color: var(--pf-clr-pr-1);
    transition: all .4s var(--pf-cube-2);

    &:hover {
        background-color: var(--pf-clr-pr-1);
        color: var(--pf-clr-white-1);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 12px;
        padding: 1px;
        background: linear-gradient(90deg, rgb(199, 255, 73) 0%, rgb(125, 255, 88) 100%);
        z-index: -1;
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        animation: rotateGradient 3s linear infinite;
    }
}

/* pr-btn-2 */
.pf-pr-2 {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    font-family: var(--pf-font-h-1);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--pf-clr-pr-2);
    letter-spacing: .5px;
    font-weight: 600;
    border-radius: 12px;
    padding: 16px 16px;
    padding-left: 30px;
    color: var(--pf-clr-white-1);
    transition: all 0.4s var(--pf-cube-2);
    display: inline-flex;
    align-items: center;
    gap: 24px;

    .text {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: all .4s var(--pf-cube-2);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: all .4s var(--pf-cube-2);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }

    .icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        stroke: var(--pf-clr-white-1);
        position: relative;
        overflow: hidden;

        svg {
            transition: all .4s var(--pf-cube-2);

            &:nth-child(1) {
                position: absolute;
                transform: translate(-25px, 25px);
                transition-delay: 0s;
            }
            &:nth-child(2) {
                position: relative;
            }
        }
    }

    &:hover {
        background-color: var(--pf-clr-black-3);
        .icon {
            svg {
                &:nth-child(1) {
                    position: absolute;
                    transform: translate(0px, 0px);
                    transition-delay: .1s;
                }
                &:nth-child(2) {
                    transform: translate(25px, -25px);
                }
            }
        }

        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }
    }

    &:is(.has-border) {
        border: 2px solid var(--pf-clr-pr-2);
        background: transparent;
        color: var(--pf-clr-pr-2);
        transition: all .4s var(--pf-cube-2);

        .text {
            transition: all .2s var(--pf-cube-2); 
        }

        

        .icon {
            stroke: var(--pf-clr-pr-2);
            transition: all .2s var(--pf-cube-2); 
            svg * {
                transition: all .2s var(--pf-cube-2); 
            }
        }

        &:hover {
            background: var(--pf-clr-pr-2);
            color: var(--pf-clr-white-1);

            .icon {
                stroke: var(--pf-clr-white-1);
            }
        }
    }
}

/* pr-btn-3 */
.pf-pr-3 {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    font-family: var(--pf-font-h-1);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
    background-color: transparent;
    letter-spacing: .5px;
    font-weight: 600;
    border: 1.5px solid #A3A3A3;
    border-radius: 100px;
    padding: 14.5px 16px;
    padding-left: 24px;
    color: var(--pf-clr-black-5);
    transition: all 0.4s var(--pf-cube-2);
    display: inline-flex;
    align-items: center;
    gap: 22px;

    .icon {
        fill: transparent;
        stroke: var(--pf-clr-white-1);
        transition: all .5s var(--pf-cube-2);
    }

    &::after {
        content: "";
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: var(--pf-clr-pr-3);
        position: absolute;
        right: 12px;
        top: 12px;
        z-index: -1;
        transition: all .5s var(--pf-cube-2);
    }

    &:hover {
        border-color: transparent;
        background: var(--pf-clr-pr-3);
        .icon {
            transform: rotate(45deg);
        }
        &::after {
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 100px;
        }
    }

    &:is(.has-bg-fill) {
        background: var(--pf-clr-pr-3);
        color: var(--pf-clr-white-1);
        border-color: transparent;

        .icon {
            stroke: var(--pf-clr-black-5);
        }
        &::after {
            background: var(--pf-clr-white-1);
        }

        &:hover {
            background: var(--pf-clr-white-1);
            border-color: var(--pf-clr-pr-3);
            color: var(--pf-clr-black-5);
        }
    }
}

/* free-phone */
.pf-free-phone-1 {
    display: inline-flex;
    font-family: var(--pf-font-h-1);
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    color: rgb(255 255 255 / 64%);
    gap: 12px;

    .icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        stroke: var(--pf-clr-pr-1);
        background: rgb(42 200 211 / 4%);
        border-radius: 50%;
        padding: 9px;
    }
    

    b {color: rgb(255 255 255 / 80%);}
}

/* free-phone-2 */
.pf-free-phone-2 {
    display: inline-flex;
    font-family: var(--pf-font-h-1);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    align-items: center;
    color: var(--pf-clr-black-3);
    gap: 40px;
    text-align: right;

    .icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        stroke: var(--pf-clr-white-1);
        background: var(--pf-clr-red-1);
        border-radius: 50%;
        padding: 9px;
        fill: transparent;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid var(--pf-clr-red-1);
            border-radius: 50%;
            animation: pf-free-phone-2 5s linear infinite;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid var(--pf-clr-red-1);
            border-radius: 50%;
            animation: pf-free-phone-2 5s 2.5s linear infinite;
        }
    }
    b {
        font-weight: 600;
        color: var(--pf-clr-red-1);
        transition: all .4s var(--pf-cube-2);
    }
    
    &:hover {
        color: var(--pf-clr-black-3);
        b {
            transform: translateX(3px);
        }
    }

}

@keyframes pf-free-phone-2 {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}


/* rotated-btn-1 */
.pf-rotated-btn-1 {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pf-clr-black-2);
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 100px rgb(42 200 211 / 50%);
    z-index: 1;


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%; /* Match button's border-radius */
        padding: 1.5px; /* Adjust to create space for the border */
        // background: linear-gradient(223deg, rgba(42, 200, 211, 0.48) 0%, rgba(42, 200, 211, 0.05) 50%);
        background: linear-gradient(230deg, rgba(42, 200, 211, 0.48) 0%, rgba(42, 200, 211, 0.10) 50%);
        z-index: -1; /* Place the gradient border behind the button */
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    img {
        animation: pf-rotated-1 4s linear infinite;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 8%);
        backdrop-filter: blur(8px);
        position: absolute;
        transform: rotate(-45deg);
        transition: all .5s var(--pf-cube-1);
        color: var(--pf-clr-pr-1);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%; /* Match button's border-radius */
            padding: 1.5px; /* Adjust to create space for the border */
            // background: linear-gradient(223deg, rgba(42, 200, 211, 0.48) 0%, rgba(42, 200, 211, 0.05) 50%);
            background: linear-gradient(280deg, rgba(42, 200, 211, 80%) 0%, rgba(42, 200, 211, 0.10) 50%);
            z-index: -1; /* Place the gradient border behind the button */
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }
    }

    &:hover {
        .icon {
            background: var(--pf-clr-pr-1);
            color: var(--pf-clr-white-1);

        }
    }
}

/* rotated-btn-2 */
.pf-rotated-btn-2 {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255 255 255 / 8%);
    backdrop-filter: blur(24px);
    border: 1px solid rgb(255 255 255 / 24%);
    border-radius: 50%;
    position: relative;
    z-index: 1;


    img {
        animation: pf-rotated-1 4s linear infinite;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: var(--pf-clr-pr-2);
        position: absolute;
        transition: all .3s var(--pf-cube-1);
        color: var(--pf-clr-white-1);
        stroke: var(--pf-clr-white-1);
        fill: transparent;


    }

    &:hover {
        border-color: var(--pf-clr-white-1);
        .icon {
            transform: scale(90%);

            svg {
                transform: translate(-5px, 5px);

                polyline {
                   transform : translate(5px, -5px);
                }
            }
        }
    }
}


@keyframes pf-rotated-1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* join-btn-1 */
.pf-join-btn-1 {
    font-family: var(--pf-font-h-1);
    font-weight: 400;
    color: var(--pf-clr-white-1);
    opacity: 80%;
    font-size: 14px;
    transition: all .4s var(--pf-cube-2);
    b {
        text-transform: capitalize;
        font-weight: 600;
    }

    .icon {
        fill: transparent;
        stroke: var(--pf-clr-pr-1);
        svg{
            width: 20px;
        }
    }

    &:hover {
        opacity: 1;
        color: var(--pf-clr-pr-1);

        .icon {
            svg {
                line {
                    transform: translate(-5px, 5px);
                }
            }
        }
    }
}



/* ply-btn-2 */
.pf-video-btn-1 {
    display: flex;
    width: 120px;
    height: 120px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--pf-clr-pr-2);
    position: relative;
    transition: .4s;

    @media #{$md,$xs} {
        width: 80px;
        height: 80px; 
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%) scale(1.5);
        background: #fff;
        border-radius: 50%;
        z-index: -1;
        opacity: 20%;
        animation: fd-blog-plybtn 5s linear infinite;
        animation-delay: 2.5s;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%) scale(2);
        background: #fff;
        border-radius: 50%;
        z-index: -1;
        opacity: 10%;
        animation: fd-blog-plybtn 5s linear infinite;
    }

    &:hover {
       transform: scale(85%);
       color: var(--pf-clr-pr-2);
    }
}

@keyframes fd-blog-plybtn {
    from {
        transform: translate(-50% , -50%) scale(1);
        opacity: 50%;
    }
    to {
        transform: translate(-50% , -50%) scale(2);
        opacity: 0;
    }
}

/* arrow-btn-1 */

.pf-arrow-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--pf-clr-pr-3);
    fill: transparent;
    stroke: var(--pf-clr-pr-3);
    overflow: hidden;
    transition: all .4s var(--pf-cube-2);

    .icon {
        overflow: hidden;
        flex: 0 0 auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition: all .4s var(--pf-cube-2);
    }

    svg {
        transition: all .4s var(--pf-cube-2);
        &:nth-child(1) {
            position: absolute;
            transform: translate(-20px, 20px);
            stroke: var(--pf-clr-white-1);
        }
    }

    &:hover {
        background: var(--pf-clr-pr-3);
        svg {
            &:nth-child(1) {
                transform: translate(0px, 0px);
            }
            &:nth-child(2) {
                transform: translate(20px, -20px);
            }
        }  
    }
}

/* 
    button-component-end
*/