

/* 
    all-title-paragraph-components-start
*/



.pf-h1 {
    font-family: var(--lg-font-h);
    color: var(--pf-clr-white-1);
    text-transform: capitalize;
    line-height: 1.093;
    margin-bottom: 0px;


}


.pf-p1 {
    font-family: var(--pf-font-p1);
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    color: var(--pf-clr-white-1);
    margin-bottom: 0px;

    &:is(.has-opa-64) {
        opacity: 64%;
    }

}


.lg-subtitle-1 {
    font-family: var(--lg-p-font-1);
    font-weight: 500;
    color: #fff;
    background: var(--lg-clr-pr-1);
    display: inline-block;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 12px;
    margin-bottom: 18px;
}


.lg-scn-title-1 {
    font-family: var(--lg-h-font-1);
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 600;
    color: var(--lg-clr-h1);
    letter-spacing: -1px;
    line-height: 0.796;
    margin-bottom: 0;
    overflow: hidden;


    &:is(.has-clr-white) {
        color: #fff;
    }


    .split-line {
        padding-top: 10px;
        margin-bottom: -10px;

        @media #{$lg,$md,$xs} {
            margin-bottom: -5px;
        }
    }

    @media #{$xl} {
        font-size: 58px;
    }

    @media #{$lg} {
        font-size: 48px;
    }

    @media #{$md} {
        font-size: 40px;
        letter-spacing: -1px;
    }

    @media #{$xs} {
        font-size: 30px;
        letter-spacing: 0px;
    }

    @media #{$sm} {
        font-size: 35px;
    }
}


/* 
    all-title-paragraph-components-end
*/
