/* 
    about-1-start
*/
.pf-about-1 {

    &-area {
        position: relative;
        padding-top: 140px;
        padding-bottom: 70px;
        z-index: 1;

    }

    &-sec-title{
        max-width: 660px;
        text-align: center;
        margin-bottom: 60px;
    }

    &-earth {
        position: relative;
        
        &-img {
            width: 77%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 0;
            position: absolute;
            will-change: transform , opacity;

            @media #{$xs} {
                width: 100%;
            }

            img {
                width: 100%;
                will-change: transform , opacity;
            }
        }

        &-text {
            display: flex;
            align-items: self-start;
            position: relative;
            z-index: 1;

            @media #{$xs} {
                margin-top: 20px;
            }



            &-box {
                width: 100%;
                max-width: 160px;
                background: rgba(255, 255, 255, 0.08);
                border-radius: 12px;
                font-size: 16px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.8);
                padding: 10px 16px;
                backdrop-filter: blur(8px);
                will-change: transform , opacity;

                @media #{$xs} {
                    max-width: 100%;
                }

                @media #{$sm} {
                    max-width: 220px;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                }
            }

            &-shape {
                fill: var(--pf-clr-white-1);
                margin-top: 26px;
                margin-left: -9px;
                z-index: 1;

                @media #{$xs} {
                    display: none;
                }


                path {
                    fill: transparent;
                    stroke: var(--pf-clr-white-1);
                }
            }


            .modal-box {
                position: absolute;
                left: 0;
                bottom: 105%;
                padding: 30px 26px;
                padding-bottom: 20px;
                backdrop-filter: blur(8px);
                background: rgba(255, 255, 255, 0.08);
                border-radius: 12px;
                transition: all .4s var(--pf-cube-2);
                transform: scale(0) translateY(100%);
                transform-origin: bottom center;
                

                .close {
                    position: absolute;
                    right: 13px;
                    top: 10px;
                    font-size: 16px;
                    line-height: 1;
                    cursor: pointer;
                    transition: all .4s var(--pf-cube-2);
                    &:hover {
                        color: var(--pf-clr-pr-1);
                    }
                }

                .item-title {
                    font-size: 20px;
                    margin-bottom: 15px;
                }

                .pf-pr-1 {
                    font-size: 14px;
                    padding: 10px 18px;
                }
            }

            &:is(.active) {
                .modal-box {
                    transform: scale(1) translateY(0);
                } 
            }
        }

        &-text-2 {
            display: flex;
            align-items: self-start;
            position: relative;
            z-index: 1;

            margin-top: -70px;

            @media #{$xs} {
                margin-top: 20px;
            }


            &-box {
                width: 100%;
                max-width: 185px;
                background: rgba(255, 255, 255, 0.08);
                border-radius: 12px;
                font-size: 16px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.8);
                padding: 10px 16px;
                backdrop-filter: blur(8px);

                @media #{$xs} {
                    max-width: 100%;
                }

                @media #{$sm} {
                    max-width: 220px;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                }
            }

            &-shape {
                fill: var(--pf-clr-white-1);
                margin-top: 26px;
                margin-right: -9px;
                z-index: 1;

                @media #{$md} {
                    width: 100%;
                }

                
                @media #{$xs} {
                    display: none;
                }

                path {
                    fill: transparent;
                    stroke: var(--pf-clr-white-1);
                }
            }

            .modal-box {
                position: absolute;
                right: 0;
                bottom: 105%;
                padding: 30px 26px;
                padding-bottom: 20px;
                backdrop-filter: blur(8px);
                background: rgba(255, 255, 255, 0.08);
                border-radius: 12px;
                transition: all .4s var(--pf-cube-2);
                transform: scale(0) translateY(100%);
                transform-origin: bottom center;

                .close {
                    position: absolute;
                    right: 13px;
                    top: 10px;
                    font-size: 16px;
                    line-height: 1;
                    cursor: pointer;
                    transition: all .4s var(--pf-cube-2);
                    &:hover {
                        color: var(--pf-clr-pr-1);
                    }
                }
                

                .item-title {
                    font-size: 20px;
                    margin-bottom: 15px;
                }

                .pf-pr-1 {
                    font-size: 14px;
                    padding: 10px 18px;
                }
            }

            &:is(.active) {
                .modal-box {
                    transform: scale(1) translateY(0);
                } 
            }
        }
    }

    &-element-wrap {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;

        @media #{$xs} {
            grid-template-columns: auto ;
        }

        @media #{$sm} {
            grid-template-columns: auto auto;
        }
    }

    &-tabs {
        &-btn {
            display: flex;
            justify-content: center;
            gap: 10px 20px;
            margin-bottom: 100px;
    
            .nav-link {
                font-size: 18px;
                text-transform: capitalize;
                font-weight: 400;
                font-family: var(--pf-font-p-1);
                background: rgba(255, 255, 255, 0.08);
                color: rgba(255, 255, 255, 0.8);
                padding: 10px 25px;
                backdrop-filter: blur(8px);
                border-radius: 5px;
    
                &:is(.active) {
                    color: var(--pf-clr-pr-1);
                }
    
                &:hover {
                    color: var(--pf-clr-pr-1);
                }
            }
        }

        &-pane {
            margin-bottom: 350px;

            @media #{$md,$xs} {
                margin-bottom: 50px;
            }
        }
    }

    &-disc {
        font-size: 23px;
        text-align: center;
        line-height: 1.56;
        opacity: 64%;
        max-width: 690px;

        @media #{$xs} {
            font-size: 18px;
        }

        @media #{$sm} {
            font-size: 20px;
        }
    }

    &-line-shape {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 11%;

        @media #{$md,$xs} {
            display: none;
        }

        &-single {
            fill: transparent;
            stroke: var(--pf-clr-white-1);

            circle {
                fill: var(--pf-clr-white-1);

            }

            .flash-ani2 {
                animation: flash 2s linear infinite;
            }

            .flash-ani3 {
                animation: flash 3s linear infinite;
            }

            .pr-stroke {
                stroke: var(--pf-clr-pr-1);
            }

            svg , img {
                width: 100%;
            }
        }
    }

    &-bg-shape {
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;


        @media #{$xs} {
            object-fit: cover;
        }

        
    }

    &-glow-1 {
        position: absolute;
        top: -30%;
        width: 100%;
        left: 0;
        text-align: center;
        z-index: -2;

        img {
                display: inline-block;
        }

        @media #{$xxl} {
            top: -23%;
        }

        @media #{$xl} {
            top: -19%;
        }

        @media #{$lg} {
            top: -14%;
        }

        @media #{$md} {
            top: -10%;
        }

        @media #{$xs} {
            top: -5%;
        }
    }

    &-glow-2 {
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: -2;

        img {
                display: inline-block;
        }

        @media #{$xxl} {
            bottom: -36%;
        }

        @media #{$xl} {
            bottom: -32%;
        }

        @media #{$lg} {
            bottom: -30%;
        }

        @media #{$md} {
            bottom: -26%;
        }

        @media #{$xs} {
            bottom: -16%;
        }
    }


}




/* 
    about-1-end
*/

/* 
    about-2-start
*/
.pf-about-2 {
    &-wrap {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;

        .illus-1 {
            position: absolute;
            top: -61px;
            left: -80px;

            @media #{$md,$xs} {
                display: none;
            }
        }

        .illus-2 {
            position: absolute;
            right: -130px;
            top: 0px;

            @media #{$md,$xs} {
                display: none;
            }
        }
    }

    &-img-sticky-item {
        transform: scale(2);
        transform-origin: top center;

        @media #{$md,$xs} {
            transform: scale(1);
            margin-bottom: 50px;
        }
    }

    &-img-sticky {
        // height: 2000px;
        margin-bottom: 40px;
        @media #{$md,$xs} {
            height: auto;
        }
    }

    &-img {
        height: 400px;
        border-radius: 12px;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: grayscale(1);
        }
    }

    &-disc {
        color: var(--pf-clr-black-3);
        opacity: 84%;
        font-weight: 400;
        line-height: 32px;
        font-size: 20px;
        margin-bottom: 35px;
    }
    
    &-slide-posi {
        position: absolute;
        top: 225px;
        z-index: -1;
        left: 0;
        width: 100%;
    }

    &-slide-text {
        display: flex;
        gap: 48px;
        align-items: center;
        flex-wrap: nowrap;

        .item-title {
            font-size: 64px;
            line-height: 1;
            color: #FFA800;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -2px;
            flex: 0 0 auto;
        }

        svg {
            fill: #FFA800;
            flex: 0 0 auto;
        }
    }
    
    
}
/* 
    about-2-end
*/
/* 
    about-3-start
*/
.pf-about-3-scroll {
    position: relative;
    z-index: 3;
}

.pf-about-3-shape {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;

    .text-right {
        text-align: right;
    }

    .pf-sec-shape {
        @media #{$lg} {
            width: 600px;
        }
        @media #{$md} {
            width: 400px;
        }
        @media #{$xs} {
            width: 300px;
        }
    }
}

.pf-sec-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pf-sec-shape, .pf-sec-shape-1, .pf-sec-shape-2 {
    will-change: transform;
}

.pf-about-3 {
    &-area {
        background: rgb(42 42 42 / 4%);
        backdrop-filter: blur(70px);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh !important;
    }
    
    &-content {
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;

        .title {
            margin-bottom: 60px;
        }

        .pf-rotated-btn-2 {
            border: 1.5px solid var(--pf-clr-black-5);

            .icon {
                background: var(--pf-clr-sd-2);
                stroke: var(--pf-clr-black-5);
            }
        }
    }
}









/* 
    about-3-end
*/

/* 
    about-6-start
*/
.pf-about-6 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: self-start;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 2fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    &-subtitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        color: var(--pf-clr-black-1);
        margin-bottom: 0;
    }

    &-title {
        font-size: 45px;
        line-height: 1.2;
        color: var(--pf-clr-black-1);
        font-weight: 500;
        letter-spacing: -1px;
        margin-bottom: 63px;
        text-transform: unset !important;


        @media #{$md} {
            font-size: 38px;
        }

        @media #{$xs} {
            font-size: 25px;
        }

        @media #{$sm} {
            font-size: 32px;
        }

        .split-line {
            div {
                div {
                    &:nth-child(1) {
                        text-transform: capitalize;
                        
                    }
                }
            }
        }
    }

    &-btn {
        color: var(--pf-clr-pr-6);
        font-weight: 500;
        text-transform: capitalize;
        line-height: 1;
        fill: transparent;
        stroke: var(--pf-clr-pr-6);
        display: inline-flex;
        align-items: center;
        gap: 8px;
        transition: all .4s var(--pf-cube-2);

        &:hover {
            transform: translateX(3px);
            color: var(--pf-clr-pr-6);
            .icon {
                transform: rotate(45deg);
            }
        }
    }
}



/* 
    about-6-end
*/