/* 
    about-1-start
*/
.pf-about-1 {

    &-area {
        position: relative;
        padding-top: 350px;
        padding-bottom: 70px;
        z-index: 1;
    }

    &-sec-title{
        max-width: 660px;
        text-align: center;
        margin-bottom: 60px;
    }

    &-earth {
        position: relative;
        
        &-img {
            width: 66%;
            margin-left: auto;
            margin-right: auto;
            mix-blend-mode: color-dodge;

            @media #{$xs} {
                width: 100%;
            }
        }

        &-text {
            display: flex;
            align-items: self-start;
            position: absolute;
            top: 106px;
            left: 50px;
            z-index: 1;



            &-box {
                width: 100%;
                max-width: 160px;
                background: rgba(255, 255, 255, 0.08);
                border-radius: 12px;
                font-size: 16px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.8);
                padding: 10px 16px;
                backdrop-filter: blur(8px);
            }

            &-shape {
                fill: var(--pf-clr-white-1);
                margin-top: 26px;
                margin-left: -9px;
                z-index: 1;

                @media #{$xs} {
                    display: none;
                }

                @media #{$sm} {
                    display: inline-block;
                }

                path {
                    fill: transparent;
                    stroke: var(--pf-clr-white-1);
                }
            }
        }

        &-text-2 {
            display: flex;
            align-items: self-start;
            position: absolute;
            top: 45px;
            right: 0px;
            z-index: 1;



            &-box {
                width: 100%;
                max-width: 185px;
                background: rgba(255, 255, 255, 0.08);
                border-radius: 12px;
                font-size: 16px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.8);
                padding: 10px 16px;
                backdrop-filter: blur(8px);
            }

            &-shape {
                fill: var(--pf-clr-white-1);
                margin-top: 26px;
                margin-right: -9px;
                z-index: 1;

                
                @media #{$xs} {
                    display: none;
                }

                @media #{$sm} {
                    display: inline-block;
                }

                path {
                    fill: transparent;
                    stroke: var(--pf-clr-white-1);
                }
            }
        }
    }

    &-disc {
        font-size: 23px;
        text-align: center;
        line-height: 1.56;
        opacity: 64%;
        max-width: 690px;

        @media #{$xs} {
            font-size: 18px;
        }

        @media #{$sm} {
            font-size: 20px;
        }
    }

    &-line-shape {
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 100%;

        @media #{$md,$xs} {
            display: none;
        }

        &-single {
            fill: transparent;
            stroke: var(--pf-clr-white-1);

            circle {
                fill: var(--pf-clr-white-1);

            }

            .flash-ani2 {
                animation: flash 2s linear infinite;
            }

            .flash-ani3 {
                animation: flash 3s linear infinite;
            }

            .pr-stroke {
                stroke: var(--pf-clr-pr-1);
            }
        }
    }

    &-bg-shape {
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: calc(100% - 200px);
    }

    &-glow-1 {
        position: absolute;
        top: -30%;
        width: 100%;
        left: 0;
        text-align: center;
        z-index: -2;

        img {
                display: inline-block;
        }

        @media #{$xxl} {
            top: -23%;
        }

        @media #{$xl} {
            top: -19%;
        }

        @media #{$lg} {
            top: -14%;
        }

        @media #{$md} {
            top: -10%;
        }

        @media #{$xs} {
            top: -5%;
        }
    }

    &-glow-2 {
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: -2;

        img {
                display: inline-block;
        }

        @media #{$xxl} {
            bottom: -36%;
        }

        @media #{$xl} {
            bottom: -32%;
        }

        @media #{$lg} {
            bottom: -30%;
        }

        @media #{$md} {
            bottom: -26%;
        }

        @media #{$xs} {
            bottom: -16%;
        }
    }
}


/* 
    about-1-end
*/

/* 
    about-2-start
*/
.pf-about-2 {
    &-wrap {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;

        .illus-1 {
            position: absolute;
            top: -61px;
            left: -80px;

            @media #{$md,$xs} {
                display: none;
            }
        }

        .illus-2 {
            position: absolute;
            right: -130px;
            top: 0px;

            @media #{$md,$xs} {
                display: none;
            }
        }
    }

    &-img-sticky-item {
        transform: scale(2);
        transform-origin: top center;
    }

    &-img-sticky {
        height: 200vh;
    }

    &-img {
        height: 400px;
        border-radius: 12px;
    }

    &-disc {
        color: var(--pf-clr-black-3);
        opacity: 84%;
        font-weight: 400;
        line-height: 32px;
        font-size: 20px;
        margin-bottom: 35px;
    }
    
    &-slide-posi {
        position: absolute;
        top: 225px;
        z-index: -1;
        left: 0;
        width: 100%;
    }

    &-slide-text {
        display: flex;
        gap: 48px;
        align-items: center;
        flex-wrap: nowrap;

        .item-title {
            font-size: 64px;
            line-height: 1;
            color: #FFA800;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -2px;
            flex: 0 0 auto;
        }

        svg {
            fill: #FFA800;
            flex: 0 0 auto;
        }
    }
    
    
}
/* 
    about-2-end
*/
/* 
    about-3-start
*/
.pf-about-3 {
    &-area {
        background: rgb(42 42 42 / 4%);
        backdrop-filter: blur(96px);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    &-content {
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;

        .title {
            margin-bottom: 60px;
        }

        .pf-rotated-btn-2 {
            border: 1.5px solid var(--pf-clr-black-5);

            .icon {
                background: var(--pf-clr-sd-2);
                stroke: var(--pf-clr-black-5);
            }
        }
    }
}


.pf-about-3-scroll-shape {
    position: absolute;
    right: 16%;
    top: -64px;

    @media #{$xxl} {
        right: -5%;
        top: -144px;
        transform: scale(50%);
    }

    @media #{$xl} {
        right: -5%;
        top: -144px;
        transform: scale(50%);
    }

    @media #{$lg} {
        right: -5%;
        top: -144px;
        transform: scale(50%);
    }

    @media #{$md} {
        right: -5%;
        top: -144px;
        transform: scale(50%);
    }

    @media #{$xs} {
        right: -273px;
        top: -194px;
        transform: scale(20%);
    }
}
.pf-h3-ani-shape {
    &-1 {
        fill: var(--pf-clr-sd-2);
    }
    &-2 {
        fill: var(--pf-clr-pr-3);
    }
}
/* 
    about-3-end
*/