/* 
    client-1-start
*/
.pf-client-1 {
    &-sec-title {
        font-size: 20px;
        line-height: 33px;
        font-weight: 400;
        opacity: 72%;
        margin-bottom: 38px;
    }

    &-item-row {
        display: flex;
        align-items: center;
        gap: 140px;

        @media #{$lg} {
            gap: 100px;
        }

        @media #{$md} {
            gap: 80px;
        }

        @media #{$xs} {
            gap: 40px;
        }

        @media #{$sm} {
            gap: 60px;
        }
    }

    &-logo {
        perspective: 2000px;
        transform-style: preserve-3d;
        text-align: center;

        img {

            &:nth-child(1) {
                transform: translateY(0%) rotateX(0deg);
                opacity: 64%;
                transition: opacity  .3s var(--pf-cube-2) , transform  .7s var(--pf-cube-2);
                transition-delay: 0s;
            }

            &:nth-child(2) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -120%) rotateX(80deg);
                opacity: 0;
                transition: opacity  .3s var(--pf-cube-2) , transform  .7s var(--pf-cube-2);
                transition-delay: .1s;
                
            }
        }

        &:hover {
            img {
                &:nth-child(1) {
                    transform: translateY(100%) rotateX(-80deg);
                    opacity: 0;
                    transition-delay: .1s;
                }
                &:nth-child(2) {
                    transform: translate(-50%, -50%) rotateX(0deg);
                    opacity: 100%;
                    transition-delay: 0s;
                }
            }
        }
    }
}
/* 
    client-1-end
*/

/* 
    client-2-start
*/
.pf-client-1-sec-title{
    &:is(.has-ver-2) {
        color: var(--pf-clr-black-3);
        font-weight: 500;
        opacity: 88%;
    }
}
/* 
    client-2-end
*/
/* 
    client-3-start
*/
.pf-client-3 {
    &-area {
        background-color: var(--pf-clr-white-2);

        .pf-client-1-sec-title {
            color: var(--pf-clr-black-6);
            opacity: 1;
            font-weight: 500;
        }

        .pf-client-1-logo {
            img {
                &:nth-child(1) {
                    opacity: 84%;
                }    
            }
            
            &:hover {
                img {
                    &:nth-child(1) {
                        opacity: 0;
                    }    
                }
            }
        }
    }
}

/* 
    client-3-end
*/

/* 
    client-5-start
*/
.pf-client-5 {
    &-area {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -690px;

        @media #{$lg,$md,$xs} {
            padding-left: 10px;
            padding-right: 10px;
        }
    }



    &-shadow {
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: calc(100% - 80px);
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 0 120px 120px 0 rgba(0, 0, 0, 0.12);
            background: transparent;
            z-index: -1;
            border-radius: 30px;
        }
    }

    &-mask {
        mask-image: url("../img/client/client-5-mask-shape.png");
        -webkit-mask-image: url("../img/client/client-5-mask-shape.png");
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        height: 900px;
        background: #fff;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        @media #{$lg,$md,$xs} {
            mask-image: unset;
            -webkit-mask-image: unset;
            border-radius: 20px;
        }

    }


    &-content {
        margin-top: -49px;
        padding-right: 15%;
        position: relative;
        z-index: 1;
        
        @media #{$lg,$md,$xs} {
            padding-right: 15px;
            padding-left: 15px;
            margin-top: -79px;
        }

        &-wrap {
            display: flex;
            align-items: center;
            gap: 32px;
            max-width: 26.9%;
            margin-left: auto;
            text-align: center;

            @media #{$lg,$md,$xs} {
                max-width: 370px;
                margin-right: auto;
            }

            .title {
                font-size: 16px;
                line-height: 26px;
                color: var(--pf-clr-black-7);
                opacity: 80%;
                font-weight: 500;
            }
        }
    }
}
/* 
    client-5-end
*/
/* 
    our-clients-1-start
*/
.pf-our-clients-1-area {
    .pf-client-1-item-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 32px;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr 1fr 1fr ;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr  ;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr   ;
        }

        .pf-client-1-logo {
            border: 2px solid #F3F3F3;
            border-radius: 12px;
            padding: 30px 0;
            transition: all .4s var(--pf-cube-2);


        }
    }
}
/* 
    our-clients-1-end
*/