/* 
    contact-1-start
*/
.pf-contact-1 {

    &-area {
        background-attachment: fixed;
        z-index: 3;
        &::after {
            content: "";
            width: 100%;
            height: 200px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(10,14,14,0) 0%, rgba(10,14,14,1) 100%);
            z-index: -2;
        }
        &::before {
            content: "";
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(10,14,14,0) 0%, rgba(10,14,14,1) 100%);
            z-index: -2;
        }
    }

    &-bg-glow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    &-row {
        display: flex;
        gap: 50px;
        justify-content: space-between;

        @media #{$md,$xs} {
            flex-wrap: wrap; 
        }
    }

    &-sec-title {
        .pf-sec-title-1 {
            max-width: 350px;
            margin-bottom: 24px;
        }

        .sec-disc {
            opacity: 64%;   
            max-width: 485px;
        }
    }

    &-content {
        width: 100%;
        max-width: 540px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: space-between;

        @media #{$lg} {
            max-width: 350px;
        }
    }

    &-brand {

        &-title {
            font-size: 16px;
            opacity: 64%;
            margin-bottom: 20px;
        }

        &-slider {

            .pf-client-1-logo {
                img {
                    opacity: 1;
                }
            }
        }
    }

    &-form {
        max-width: 530px;
        width: 100%;
        background: rgb(255 255 255 / 4%);
        backdrop-filter: blur(8px);
        border-radius: 16px;
        padding: 64px 48px;
        padding-top: 52px;
        position: relative;

        @media #{$xs} {
            padding: 64px 20px;
        }

        @media #{$sm} {
            padding: 64px 48px;
        }
 
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 8px;
            padding: 1.5px;
            background: linear-gradient(215deg, rgba(42, 200, 211, 56%) 0%, rgba(42, 200, 211, 4%) 30%);
            z-index: -1;
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            transition: all 0.3s var(--pf-cube-2);
        }
    }
}

/* 
    contact-1-end
*/

/* 
    contact-2-start
*/
.pf-contact-2 {

    &-area {
        margin-top: -375px;
        position: relative;
        z-index: 1;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        gap: 80px;
        align-items: end;

        @media #{$lg} {
            gap: 40px;
        }

        @media #{$md,$xs} {
            gap: 40px;
            grid-template-columns: 1fr;
        }
    }

    &-img {
        height: 1070px;

        @media #{$md} {
            height: 800px;
        }

        @media #{$xs} {
            height: 400px;
        }

        @media #{$sm} {
            height: 600px;
        }
    }

    &-content {
        .sec-title {
            font-size: 32px;
            line-height: 1.18;
            max-width: 590px;
            margin-bottom: 45px;

            @media #{$xs} {
                font-size: 26px;
                letter-spacing: 0px;
            }
        
            @media #{$sm} {
                font-size: 30px;
                letter-spacing: 0px;
            }
        }

        .pf-form-1 {
            max-width: 435px;

            &-title {
                color: var(--pf-clr-black-4);
                font-weight: 600;
            }

            &-radio {
                span {
                    color: var(--pf-clr-black-3);
                    font-weight: 500;
                    text-transform: capitalize;
                    letter-spacing: 0;
                    border: 1px solid #DFE1E5;
    
                    &::before {
                        display: none;
                    }
    
                    &:hover {
                        background: var(--pf-clr-pr-2);
                        color: var(--pf-clr-white-1);
                        border-color: transparent;
                    }
                }

                input {
                    &:checked ~ {
                        span {
                            background: var(--pf-clr-pr-2);
                            color: var(--pf-clr-white-1);
                        }
                    }
                }
            }

            &-label {
                color: var(--pf-clr-black-3);
                opacity: 64%;
            }

            &-input {
                font-weight: 400;
                color: rgb(33 37 39 / 80%);
                border-color: #DFE1E5;

                &:hover {
                    color: rgb(33 37 39 / 100%);
                }
            }

            &-box {
                &:focus-within .pf-form-1-label {
                    color: var(--pf-clr-pr-2);
                    opacity: 1;
                }
            }



        }


    }
}

/* 
    contact-2-end
*/

/* 
    contact-3-start
*/
.pf-contact-3 {

    &-area {
        @media #{$md,$xs} {
            padding-bottom: 120px;
        }
    }
    &-wrap {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        justify-content: space-between;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-sec-title {
        margin-bottom: 192px;

        @media #{$md,$xs} {
            margin-bottom: 60px;
        }
    }

    &-content {
        max-width: 644px;
        width: 100%;

        .pf-hero-3-right {
            text-align: center;

            .bg-shape {
                right: 0;
                width: 70%;
            }
        }

        .pf-hero-3-sig {
            left: 0;
        }

        .pf-hero-3-img {
            margin-left: -60px;

            @media #{$md,$xs} {
                margin-left: 0;
            }
        }
    }

    &-form {
        max-width: 530px;
        width: 100%;

        .pf-form-1-box .radio-wrap {
            gap: 8px;
        }

        .pf-form-1-title {
            color: var(--pf-clr-black-5);
            font-weight: 600;
        }

        .pf-form-1-radio span {
            color: var(--pf-clr-black-5);
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: 0;
            border: 1px solid #D1DEF8;
            border-radius: 18px;
            padding: 0px 8px;

            &::before {
                display: none;
            }

            &:hover {
                background: var(--pf-clr-pr-3);
                color: var(--pf-clr-white-1);
                border-color: transparent;
            }
        }

        .pf-form-1-label {
            opacity: 64%;
            color: var(--pf-clr-black-5)
        }

        .pf-form-1-input {
            font-weight: 400;
            color: rgb(42 42 42 / 80%);
            border-color: #D1DEF8;

            &:hover {
                color: #000;
                border-color: var(--pf-clr-pr-3);
            }
        }

        .pf-form-1-box {
            &:focus-within {
                .pf-form-1-label {
                    color: var(--pf-clr-pr-3);
                    opacity: 1;
                }
                .pf-form-1-input {
                    border-color: var(--pf-clr-pr-3);
                }
            }
        }
    }
}



/* 
    contact-3-end
*/