/* 
    counter-1-start
*/
.pf-counter-1 {

    &-area {
        position: relative;
        z-index: 2;
    }

    display: flex;
    gap: 20px 60px;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
        display: flex;
        align-items: end;
        gap: 16px;
        max-width: 235px;
        width: 100%;

        &-number {
            font-size: 64px;
            line-height: 1;
            font-weight: 400;
            display: flex;
            align-items: end;
            gap: 5px;



            
            .counter {
                opacity: 64%;
            }

            .text {
                display: inline-block;
                font-size: 32px;
                color: var(--pf-clr-pr-1);
                margin-bottom: 4px;
            }
        }

        &-disc {
            font-size: 20px;
            line-height: 24px;
            font-weight: 300;
            opacity: 64%;
            margin-bottom: 5px;
        }
    }
}

/* 
    counter-1-end
*/

/* 
    counter-2-start
*/
.pf-counter-2 {
    &-row {
        display: grid;
        grid-template-columns: 1fr 2.1fr 1fr;
        gap: 30px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-meddle {
        padding-top: 355px;
        position: relative;
        z-index: 1;
        
        @media #{$md,$xs} {
            padding-top: 50px;
        }
    }

    &-sec-title {
        margin-bottom: 160px;

    }

    &-img {
        &-1 {
            max-width: 258px;
            height: 310px;
            transform: translateX(217px);
            border-radius: 8px;
            margin-bottom: 87px;

            @media #{$xs} {
                transform: translateX(0px);
            }

        }

        &-2 {
            max-width: 306px;
            height: 310px;
            border-radius: 8px;
        }

        &-3 {
            max-width: 313px;
            height: 500px;
            border-radius: 8px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -380px;
        }

        &-4 {
            height: 500px;
            border-radius: 8px;
            margin-bottom: 45px;

            @media #{$md,$xs} {
                max-width: 310px;
            }
        }
    }

    &-wrap {
        max-width: 257px;
        margin-left: auto;

        .pf-counter-1 {
            flex-direction: column;
            gap: 8px;

            &-item {
                border-radius: 8px;
                backdrop-filter: blur(8px);
                background: rgb(255 255 255 / 88%);
                text-align: left;
                align-items: center;
                gap: 12px;
                padding: 17px 24px;

                .pf-counter-1-item-number {
                    font-size: 45px;
                    .counter {
                        font-weight: 500;
                        opacity: 1;
                    }
                }
                
                .pf-counter-1-item-disc {
                    color: var(--pf-clr-black-2);
                    opacity: 100;
                    font-weight: 400;
                    margin-bottom: 0;
                }

                &:nth-child(1) {
                    .pf-counter-1-item-number {
                        .counter , .text {
                            color: #FFA800;
                        }
                    }
                }
                &:nth-child(2) {
                    .pf-counter-1-item-number {
                        .counter , .text {
                            color: #531FE9;
                        }
                    }
                }
                &:nth-child(3) {
                    .pf-counter-1-item-number {
                        .counter , .text {
                            color: #CD1010;
                        }
                    }
                }

            }
        }
    }

    &-right {
        text-align: right;

        .text-left {
            text-align: left;
        }
    }

    &-line-shape {
        position: absolute;
        top: 20%;
        z-index: -1;
        left: 0;
        width: 100%;
    }
}

/* 
    counter-2-end
*/

/* 
    counter-3-start
*/
.pf-counter-3 {
    &-sec-title {
        max-width: 750px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 55px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }


        .pf-video-2 {
            height: 100%;

            @media #{$md,$xs} {
                height: 400px;
            }
            &-img {
                height: 100%;
                border-radius: 0;
            }

            .pf-video-btn-1 {
                color: var(--pf-clr-pr-3);
                &:hover {
                    color: var(--pf-clr-pr-3);
                }
            }
        }


    }



    &-disc {
        position: absolute;
        bottom: 0;
        background: #D1DEF8;
        left: 0;
        width: 34%;
        border-top: 20px solid #fff;
        border-right: 20px solid #fff;
        z-index: 1;
        padding: 42px 48px;
        padding-top: 150px;
        font-size: 23px;
        line-height: 1.56;
        font-weight: 400;

        @media #{$xxl,$xl,$lg} {
            padding: 42px 20px;
            padding-top: 70px;
            font-size: 20px;
        }

        @media #{$md,$xs} {
            padding: 42px 20px;
            padding-top: 70px;
            font-size: 20px;
            position: relative;
            width: 100%;
        }

        &::after {
            content: "";
            width: 40px;
            height: 4px;
            background: var(--pf-clr-black-5);
            position: absolute;
            top: 37%;
            left: 48px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                top: 17%;
                left: 20px;
            }
        }
    }

    &-item {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background: #ECFFA0;
        padding-left: 55px;
        padding-right: 150px;
        padding-bottom: 50px;
        padding-top: 155px;
        border-bottom: 20px solid var(--pf-clr-white-1);
        border-left: 20px solid var(--pf-clr-white-1);



        @media #{$xxl} {
            padding-right: 40px;
        }

        @media #{$xl,$lg} {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
        }

        @media #{$md,$xs} {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
            position: relative;
            width: 100%;
        }


        .card-shape {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;

            path {
                transition: all .4s var(--pf-cube-2);
                &:nth-child(2) {
                    transition-delay: .2s;
                }
                
                &:nth-child(3) {
                    transition-delay: .4s;
                }
            }
        }

        &:hover {
            .card-shape {
                path {
                    transform: translate(20px , -20px);
                    
                    &:nth-child(2) {
                        transition-delay: .2s;
                    }
                    
                    &:nth-child(3) {
                        transition-delay: .4s;
                    }
                }
            }
        }

        .pf-counter-1 {
            flex-direction: column;
            gap: 30px;
        
            &-item {
                &-number {
                    color: var(--pf-clr-black-5);
        
                    .counter {
                        opacity: 100%;
                    }
                    .text {
                        color: inherit;
                    }
                }
        
                &-disc {
                    color: var(--pf-clr-black-5);
                    opacity: 100%;
                    font-weight: 400;
                }
            }
        }

    }

    &-rotated-btn {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 1;

        @media #{$md,$xs} {
            display: none;
        }

        .pf-rotated-btn-2 {
            background: var(--pf-clr-pr-3);
            border: none;

            .icon {
                background: var(--pf-clr-sd-2);
                stroke: var(--pf-clr-black-5);
            }
        }
    }
    
    &-img {
        margin-bottom: 20px;

        @media #{$md,$xs} {
            height: 600px;
        }

    }

    &-contact {
        &-box {
            position: relative;
            z-index: 1;
            background: #DFE1E5;
            text-align: right;
            padding-right: 48px;
            padding-top: 64px;
            padding-bottom: 35px;
            padding-left: 35px;
            overflow: hidden;

            .bg-shape {
                position: absolute;
                top: 0;
                left: -161px;
                z-index: -1;
                opacity: 50%;
                width: 66%;
                animation: counter-2-contact-shape 15s linear infinite;
            }


            .pf-free-phone-2 {
                flex-direction: column;
                align-items: end;
                gap: 36px;
                color: rgb(42 42 42 / 64%);

                .icon {
                    margin-right: 15px;
                    background: var(--pf-clr-black-5);
                    stroke: var(--pf-clr-sd-2);

                    &::after {
                        border-color: var(--pf-clr-black-5);
                    }

                    &::before {
                        border-color: var(--pf-clr-black-5);
                    }
                }

                b {
                    font-size: 23px;
                    line-height: 24px;
                    color: var(--pf-clr-black-5);
                    padding-top: 5px;
                }

                &:hover {
                    b {
                        color: var(--pf-clr-pr-3);
                    }
                }
            }
        }
    }

    &-marquee {
        .pf-about-2-slide-text {
            .item-title {
                color: #A3A3A3;
                font-weight: 600;
                text-transform: capitalize;
            }

            svg {
                fill: var(--pf-clr-pr-3);
            }
        }
    }
    
}

@keyframes counter-2-contact-shape {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* 
    counter-3-end
*/

/* 
    counter-4-start
*/
.pf-counter-4 {
    &-area {
        background-color: #0D173F;
        padding-top: 250px;
        padding-bottom: 150px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            padding-top: 150px;
        }
    }

    &-sec-title {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 140px;


        .pf-subtitle-3 {
            color: var(--pf-clr-sd-3);

            &-line {
                background: var(--pf-clr-sd-3);
            }
        }

        .pf-sec-title-4 {
            color: var(--pf-clr-white-1);
            letter-spacing: -3px;
        }
    }

    &-video-item {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        border-radius: 12px;
        filter: grayscale(1);

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-slide-posi {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        left: 0;
        width: 100%;

        .item-title {
            color: var(--pf-clr-sd-3);
        }

        svg {
            fill: var(--pf-clr-sd-3);
        }
    }

    &-item {
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        gap: 40px;


        .pf-counter-1-item {
            display: block;
            align-items: end;
            gap: 16px;
            max-width: 235px;
            width: 100%;
            text-align: center;
            max-width: auto;

            &-number {
                font-size: 90px;
                line-height: 1;
                font-weight: 600;
                display: block;
                margin-bottom: -13px;

                .counter {
                    opacity: 100%;
                }

                .text {
                    color: var(--pf-clr-white-1);
                }
            }

            &-disc {
                opacity: 100;
                margin-bottom: 0;
                background: var(--pf-clr-sd-3);
                border-radius: 8px;
                color: var(--pf-clr-black-6);
                font-weight: 400;
                display: inline-block;
                padding: 4px 8px;
            }


            &:nth-child(2) {
                margin-top: 80px;

                @media #{$md,$xs} {
                    margin-top: 0px;
                }
            }

            &:nth-child(3) {
                margin-top: 160px;
                @media #{$md,$xs} {
                    margin-top: 0px;
                }
            }
        }
    }


    &-content {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        .disc {
            color: var(--pf-clr-white-1);
            opacity: 80%;
            margin-bottom: 56px;
        }

        .pf-pr-4 {
            background: var(--pf-clr-pr-4);

            &::after {
                background: var(--pf-clr-black-6);
            }
        }
    }

    &-shape {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: -1;

        path {
            &:nth-child(1) {
                fill: url(#paint0_linear_157_480);
            }
            &:nth-child(2) {
                fill: url(#paint1_linear_157_480);
            }
        }
    }
}
/* 
    counter-4-end
*/