/* 
    counter-1-start
*/
.pf-counter-1 {

    &-area {
        position: relative;
        z-index: 2;
    }

    display: flex;
    gap: 20px 60px;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
        display: flex;
        align-items: end;
        gap: 16px;
        max-width: 235px;
        width: 100%;

        &-number {
            font-size: 64px;
            line-height: 1;
            font-weight: 400;
            display: flex;
            align-items: end;
            gap: 5px;



            
            .counter {
                opacity: 64%;
            }

            .text {
                display: inline-block;
                font-size: 32px;
                color: var(--pf-clr-pr-1);
                margin-bottom: 4px;
            }
        }

        &-disc {
            font-size: 20px;
            line-height: 24px;
            font-weight: 300;
            opacity: 64%;
            margin-bottom: 5px;
        }
    }
}

/* 
    counter-1-end
*/

/* 
    counter-2-start
*/
.pf-counter-2 {
    &-row {
        display: grid;
        grid-template-columns: 1fr 2.1fr 1fr;
        gap: 30px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-meddle {
        padding-top: 355px;

        @media #{$md,$xs} {
            padding-top: 50px;
        }
    }

    &-sec-title {
        margin-bottom: 160px;

    }

    &-img {
        &-1 {
            max-width: 258px;
            height: 310px;
            transform: translateX(217px);
            border-radius: 8px;
            margin-bottom: 87px;

            @media #{$xs} {
                transform: translateX(0px);
            }

        }

        &-2 {
            max-width: 306px;
            height: 310px;
            border-radius: 8px;
        }

        &-3 {
            max-width: 313px;
            height: 500px;
            border-radius: 8px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -380px;
        }

        &-4 {
            height: 500px;
            border-radius: 8px;
            margin-bottom: 45px;

            @media #{$md,$xs} {
                max-width: 310px;
            }
        }
    }

    &-wrap {
        max-width: 257px;
        margin-left: auto;

        .pf-counter-1 {
            flex-direction: column;
            gap: 8px;

            &-item {
                border-radius: 8px;
                backdrop-filter: blur(8px);
                background: rgb(255 255 255 / 88%);
                text-align: left;
                align-items: center;
                gap: 12px;
                padding: 17px 24px;

                .pf-counter-1-item-number {
                    font-size: 45px;
                    .counter {
                        font-weight: 500;
                        opacity: 1;
                    }
                }
                
                .pf-counter-1-item-disc {
                    color: var(--pf-clr-black-2);
                    opacity: 100;
                    font-weight: 400;
                    margin-bottom: 0;
                }

                &:nth-child(1) {
                    .pf-counter-1-item-number {
                        .counter , .text {
                            color: #FFA800;
                        }
                    }
                }
                &:nth-child(2) {
                    .pf-counter-1-item-number {
                        .counter , .text {
                            color: #531FE9;
                        }
                    }
                }
                &:nth-child(3) {
                    .pf-counter-1-item-number {
                        .counter , .text {
                            color: #CD1010;
                        }
                    }
                }

            }
        }
    }

    &-right {
        text-align: right;

        .text-left {
            text-align: left;
        }
    }

    &-line-shape {
        position: absolute;
        top: 20%;
        z-index: -1;
        left: 0;
        width: 100%;
    }
}

/* 
    counter-2-end
*/

/* 
    counter-3-start
*/
.pf-counter-3 {
    &-sec-title {
        max-width: 750px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 55px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;


        .pf-video-2 {
            &-img {
                height: 930px;
                border-radius: 0;
            }

            .pf-video-btn-1 {
                color: var(--pf-clr-pr-3);
                &:hover {
                    color: var(--pf-clr-pr-3);
                }
            }
        }


    }


    &-disc {
        position: absolute;
        bottom: 0;
        background: #D1DEF8;
        left: 0;
        width: 24.5%;
        border-top: 20px solid #fff;
        border-right: 20px solid #fff;
    }

    &-item {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background: #ECFFA0;
    }

    &-rotated-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

/* 
    counter-3-end
*/