/* 
    cta-2-start
*/
.pf-cta-2 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-col {
        padding: 45px 45px;
        background: var(--pf-clr-pr-2);

        @media #{$md,$xs} {
            padding: 45px 20px;
        }

        .btn-wrap {
            .pf-pr-2 {
                background: var(--pf-clr-black-3);
            }
        }

        &:last-child {
            background: var(--pf-clr-black-3);

            .btn-wrap {
                .pf-pr-2 {
                    background: var(--pf-clr-pr-2);
                }
            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;
        width: 100%;
        max-width: 814px;

        @media #{$lg,$md,$xs} {
            flex-wrap: wrap;
            justify-content: start;
        }


        .content {
            max-width: 400px;
        }

        .btn-wrap {
            flex: 0 0 auto;
        }

        .subtitle {
            color: var(--pf-clr-white-1);
            margin-bottom: 15px;

            &::after {
                background: var(--pf-clr-white-1);
            }

            &::before {
                background: var(--pf-clr-white-1);
            }
        }

        .title {
            font-size: 32px;
            line-height: 1.18;
            font-weight: 800;
            font-family: var(--pf-font-h-1);
            color: var(--pf-clr-white-1);
            margin-bottom: 0;
            text-transform: uppercase;

            @media #{$xs} {
                font-size: 26px;
                letter-spacing: 0px;
            }
        
            @media #{$sm} {
                font-size: 30px;
                letter-spacing: 0px;
            }
        }
        
    }
}



/* 
    cta-2-end
*/

/* 
    cta-3-start
*/
.pf-cta-3 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &-col {
        background: var(--pf-clr-pr-3);
        padding: 45px 45px;
        border-radius: 20px;

        @media #{$md,$xs} {
            padding: 45px 20px;
        }

        &:last-child {
            background: #DFE1E5;

            .pf-cta-2-content {
                .subtitle {
                    color: var(--pf-clr-black-5);    
                    
                    &::after {
                        background: var(--pf-clr-black-5);
                    }
                    
                    &::before {
                        background: var(--pf-clr-black-5);
                    }
                }
                .title {
                    color: var(--pf-clr-black-5);   
                }
            }
        }


    }
}

.pf-cta-2-content {
    &:is(.has-cta-3) {
        .subtitle {
            opacity: 80%;
        }
        .title {
            text-transform: capitalize;
            font-weight: 600;
        }

        .has-cta-3 {
            background: #DFE1E5;
            border-color: transparent;

            &:hover {
                border-color: #DFE1E5;
            }
        }
    }
}
/* 
    cta-3-end
*/
/* 
    cta-4-start
*/
.pf-cta-4 {
    &-bg-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &-img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &-sec-title {
        max-width: 705px;
        margin-left: auto;

        .pf-subtitle-3 {
            color: var(--pf-clr-white-1);

            &-line {
                background: var(--pf-clr-white-1);
            }
        }

        .pf-sec-title-4  {
            color: var(--pf-clr-white-1);
            margin-bottom: 30px;
        }
    }
}


/* 
    cta-4-end
*/