/* 
    cta-2-start
*/
.pf-cta-2 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-col {
        padding: 45px 45px;
        background: var(--pf-clr-pr-2);

        @media #{$md,$xs} {
            padding: 45px 20px;
        }

        .btn-wrap {
            .pf-pr-2 {
                background: var(--pf-clr-black-3);
            }
        }

        &:last-child {
            background: var(--pf-clr-black-3);

            .btn-wrap {
                .pf-pr-2 {
                    background: var(--pf-clr-pr-2);
                }
            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;
        width: 100%;
        max-width: 814px;

        @media #{$lg,$md,$xs} {
            flex-wrap: wrap;
            justify-content: start;
        }


        .content {
            max-width: 400px;
        }

        .btn-wrap {
            flex: 0 0 auto;
        }

        .subtitle {
            color: var(--pf-clr-white-1);
            margin-bottom: 15px;

            &::after {
                background: var(--pf-clr-white-1);
            }

            &::before {
                background: var(--pf-clr-white-1);
            }
        }

        .title {
            font-size: 32px;
            line-height: 1.18;
            font-weight: 800;
            font-family: var(--pf-font-h-1);
            color: var(--pf-clr-white-1);
            margin-bottom: 0;
            text-transform: uppercase;

            @media #{$xs} {
                font-size: 26px;
                letter-spacing: 0px;
            }
        
            @media #{$sm} {
                font-size: 30px;
                letter-spacing: 0px;
            }
        }
        
    }
}



/* 
    cta-2-end
*/

/* 
    cta-3-start
*/
.pf-cta-3 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-col {
        background: var(--pf-clr-pr-3);
        padding: 45px 45px;
        border-radius: 20px;

        @media #{$md,$xs} {
            padding: 45px 20px;
        }

        &:last-child {
            background: #DFE1E5;

            .pf-cta-2-content {
                .subtitle {
                    color: var(--pf-clr-black-5);    
                    
                    &::after {
                        background: var(--pf-clr-black-5);
                    }
                    
                    &::before {
                        background: var(--pf-clr-black-5);
                    }
                }
                .title {
                    color: var(--pf-clr-black-5);   
                }
            }
        }


    }
}

.pf-cta-2-content {
    &:is(.has-cta-3) {
        .subtitle {
            opacity: 80%;
        }
        .title {
            text-transform: capitalize;
            font-weight: 600;
        }

        .has-cta-3 {
            background: #DFE1E5;
            border-color: transparent;

            &:hover {
                border-color: #DFE1E5;
            }
        }
    }
}
/* 
    cta-3-end
*/
/* 
    cta-4-start
*/
.pf-cta-4 {
    &-area {
        padding-top: 535px;
        padding-bottom: 205px;
        background: var(--pf-clr-white-2);

        @media #{$xxxl,$xxl,$xl} {
            padding-top: 435px;
        }

        @media #{$lg,$md} {
            padding-top: 200px;
        }

        @media #{$xs} {
            padding-top: 200px;
            padding-bottom: 130px;
        }

        @media #{$sm} {
            padding-top: 200px;
            padding-bottom: 205px;
        }
    }

    &-bg-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 916px;

        @media #{$lg,$md,$xs} {
            height: 100%;
        }


    }

    &-shape-posi {
        position: absolute;
        right: 0;
        top: 135px;
        z-index: -1;
        text-align: right;
        width: 35%;
        @media #{$xxxl,$xxl,$xl,$xl,$lg,$md,$xs} {
            top: 0;
        }
    }

    &-shape {
        @media #{$xxxl,$xxl,$xl,$xl,$lg,$md,$xs} {
            width: 100%;
        }


        path {
            &:nth-child(1) {
                fill: url(#paint0_linear_160_727);
            }
            &:nth-child(2) {
                fill: url(#paint1_linear_160_727);
            }
            &:nth-child(3) {
                fill: url(#paint2_linear_160_727);
            }
        }
    }

    &-img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        @media #{$xxxl} {
            bottom: 15px;
        }

        @media #{$xxl,$xl} {
            bottom: 24px;
        }

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }

    &-sec-title {
        max-width: 705px;
        margin-left: auto;

        .pf-subtitle-3 {
            color: var(--pf-clr-white-1);

            &-line {
                background: var(--pf-clr-white-1);
            }
        }

        .pf-sec-title-4  {
            color: var(--pf-clr-white-1);
            margin-bottom: 30px;
        }

        .pf-pr-4 {
            &:hover {
                border-color: var(--pf-clr-white-1);
            }
        }
    }
}


/* 
    cta-4-end
*/

/* 
    cta-5-start
*/
.pf-cta-5 {
    &-area {
        padding-top: 305px;
        padding-bottom: 220px;
        z-index: 2;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding-top: 150px;
            padding-bottom: 130px;
        }
    }

    &-bg-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }


    &-shape-posi {
        width: 47%;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: -170px;
        z-index: -1;
        text-align: right;
    }
    &-shape {
        @media #{$xxxl,$xxl,$xl,$xl,$lg,$md,$xs} {
            width: 100%;
        }


        path {
            &:nth-child(3) {
                fill: url(#paint2_linear_170_665);
            }
            &:nth-child(2) {
                fill: url(#paint1_linear_170_665);
            }
            &:nth-child(1) {
                fill: url(#paint0_linear_170_665);
            }
        }
    }

    &-sec-title {
        max-width: 630px;
        margin-bottom: 30px;


        .pf-subtitle-3 {
            color: var(--pf-clr-white-1);

            &-line {
                background: var(--pf-clr-white-1);
            }
        }

        .pf-sec-title-4 {
            color: var(--pf-clr-white-1);
            letter-spacing: -2.8px;
            margin-bottom: 30px;

            @media #{$md} {
                letter-spacing: -1px;
            }

            @media #{$xs} {
                letter-spacing: 0px;
            }
        }

        .pf-pr-4 {
            &:hover {
                border-color: var(--pf-clr-white-1);
            }
        }
    }

    
}

/* 
    cta-5-end
*/

/* 
    quick-link-6-start
*/
.pf-quick-link-6 {
    &-area {
        padding-top: 220px;
        padding-bottom: 195px;

        @media #{$md,$xs} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
    &-wrap {
        display: flex;
        justify-content: end;
    }

    &-item {
        display: inline-flex;
        flex-direction: column;
        max-width: 100%;
        gap: 22px;
        
        .single-link {
            color: var(--pf-clr-black-7);
            text-transform: capitalize;
            font-size: 64px;
            line-height: 1;
            letter-spacing: -2px;
            font-weight: 500;
            fill: transparent;
            stroke: var(--pf-clr-pr-6);
            display: inline-flex;
            align-items: center;
            gap: 12px;
            transition: all .5s var(--pf-cube-2);

            @media #{$xl} {
                font-size: 60px; 
            }

            @media #{$lg} {
                font-size: 50px; 
            }

            @media #{$md} {
                font-size: 40px; 
            }

            @media #{$xs} {
                font-size: 25px; 
                letter-spacing: 0px;
            }

            @media #{$sm} {
                font-size: 30px; 
                letter-spacing: -1px;
            }

            .icon {
                overflow: hidden;
                svg {
                    transform: translate(-100% , 100%);
                    transition: all .5s var(--pf-cube-2);
                }
            }

            &:hover {
                color: var(--pf-clr-pr-6);
                .icon {
                    svg {
                        transform: translate( 0% , 0%);
                    } 
                }
            }
        }
    }
}


/* 
    quick-link-6-end
*/