/* 
    pf-faq-1-start
*/

.pf-faq-1 {
    &-wrap {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;
        
    }

    &-all-btn {

        &-wrap {
            position: relative;
            margin-top: 65px;

            svg {
                fill: transparent;
                stroke: white;
                width: 100vw;
            }
        }

        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.pf-accordion {

    &-item {
        border-top: 1px solid rgb(255 255 255 / 12%);

        &:last-child {
            border-bottom: 1px solid rgb(255 255 255 / 12%);
        }

        .item-title {
            border: none;
            outline: none;
            font-size: 23px;
            font-weight: 400;
            color: rgb(255 255 255 / 64%);
            background: transparent;
            width: 100%;
            text-align: left;
            padding: 26px 0;
            position: relative;
            z-index: 1;
            display: flex;
            gap: 24px;
            transition: all 0.5s var(--pf-cube-2);
            align-items: center;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background: var(--pf-clr-pr-1);
                position: absolute;
                top: 0;
                left: 0;
                transform: scaleX(0);
                transition: all 1s var(--pf-cube-2);
            }
    

            @media #{$md,$xs} {
                font-size: 20px;
            }


            .shape {
                fill: rgb(255 255 255 / 16%);
                transition: all .8s var(--pf-cube-2);
            }

            .icon {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                background: rgba(255, 255, 255, 0);
                backdrop-filter: blur(8px);
                border-radius: 8px;
                border: 1.5px solid transparent;
                margin-left: auto;
                flex: 0 0 auto;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 8px; /* Match button's border-radius */
                    padding: 1.5px; /* Adjust to create space for the border */
                    // background: linear-gradient(223deg, rgba(42, 200, 211, 0.48) 0%, rgba(42, 200, 211, 0.05) 50%);
                    background: linear-gradient(223deg, rgba(42, 200, 211, 0.05) 0%, rgba(42, 200, 211, 0.05) 50%);
                    z-index: -1; /* Place the gradient border behind the button */
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                  }
            }

    
            &:is(:not(.collapsed)) {
                color: rgba(255, 255, 255, 80%);

                &::after {
                    transform: scaleX(1);
                }
                .icon {
                    &::before {
                        background: linear-gradient(223deg, rgba(42, 200, 211, 0.48) 0%, rgba(42, 200, 211, 0.05) 50%);
                    }
                    i {
                        &::before {
                            content: "\f068";
                        }
                    }
                }

                .shape {
                    fill: var(--pf-clr-pr-1);
                    transform: rotate(360deg);
                }
            }


        }
        
        .item-body {
            margin-bottom: 0;
            max-width: 732px;
            margin-left: 45px;
            opacity: 72%;
            padding-bottom: 28px;
   
            p {
                font-weight: 300;
            }
        }


    }

    
}


/* 
    pf-faq-1-end
*/

/* 
    pf-faq-2-start
*/
.pf-faq-2 {
    &-slider {
        width: 34.4%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        @media #{$md,$xs} {
            position: relative;
            width: 100%;
            height: 500px;
        }

        &-item {
            width: 100%;
            height: 100%;
            border-radius: 0 0 72px 0;

            &-btn {
                position: absolute;
                bottom: 10px;
                right: 10px;
                z-index: 2;

                .pf-rotated-btn-2 {
                    width: 144px;
                    height: 144px;
                    background: #FFE6E3;
                    backdrop-filter: none;
                    border: none;
                    padding: 12px;

                    img {
                        border: 1px solid #4D0000;
                        border-radius: 50%;
                        padding: 12px;
                    }

                    .icon {
                        background: #4D0000;
                        stroke: #FFE6E3;
                    }
                }
            }


        }

        .swiper-container {
            height: 100%;
        }
        
    }

    &-wrap {
        max-width: 870px;
        width: 100%;
        margin-left: auto;
        padding-top: 165px;
        padding-bottom: 170px;

        @media #{$xxl} {
            max-width: 820px;
        }

        @media #{$xl} {
            max-width: 700px;
        }

        @media #{$lg} {
            max-width: 600px;
        }
        @media #{$md,$xs} {
            max-width: 100%;
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }

    &-accordion {
        .pf-accordion-item {
            border-top: 1px solid #DFE1E5;
            &:last-child {
                border-bottom: 1px solid #DFE1E5;
            }
            

            .item-title {
                font-weight: 500;
                color: var(--pf-clr-black-3);

                .shape {
                    fill: var(--pf-clr-red-1);
                    opacity: 15%;
                }

                .icon {
                    background: transparent;
                    backdrop-filter: unset;
                    color: var(--pf-clr-pr-2);
                    border: 1.5px solid #FFE6E3;

                    &::before {
                        display: none;
                    }
                }


                &::after {
                    background: var(--pf-clr-red-1);
                    top: -1px;
                }


                &:is(:not(.collapsed)) {
                    color: var(--pf-clr-red-1);
                    .shape {
                        opacity: 100%;
                    }
                    .icon {
                        background: #FFE6E3;
                    }
                }
            }

           .item-body {
                opacity: 100%;
                color: var(--pf-clr-black-3);
                p {
                    color: var(--pf-clr-black-3);
                    font-weight: 400;
                }
            }
        }
    }
}

/* 
    pf-faq-2-end
*/
