/* 
    feature-1-start
*/
.pf-feature-1 {
    &-area {
        padding-top: 210px;
        padding-bottom: 205px;

        @media #{$xs} {
            padding-top: 150px;
            padding-bottom: 150px;
        }
    }
    &-sec-title {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }


        &-single {
            display: flex;
            gap: 24px;

            
            .icon {
                display: inline-block;
                max-width: 72px;
                flex: 0 0 auto;
            }

            .item-title {
                font-size: 23px;
                line-height: 29px;
                opacity: 80%;
                margin-bottom: 11px;

                @media #{$xs} {
                    font-size: 20px;
                }

                @media #{$sm} {
                    font-size: 23px;
                }
            }

            .item-disc {
                font-size: 16px;
                line-height: 24px;
                opacity: 64%;
            }
        }

    }


    &-bg-shape {
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    &-bg-glow-1 {
        position: absolute;
        top: -60%;
        width: 100%;
        left: 0;
        text-align: center;
        z-index: -2;

        @media #{$xxl} {
            top: -50%;
        }

        @media #{$xl} {
            top: -40%;
        }

        @media #{$lg} {
            top: -30%;
        }

        @media #{$md} {
            top: -20%;
        }

        @media #{$xs} {
           top: -5%;
        }

        @media #{$sm} {
           top: -10%;
        }
    }

    &-bg-glow-2 {
        position: absolute;
        bottom: -60%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: -2;

        @media #{$xxl} {
            bottom: -50%;
        }

        @media #{$xl} {
            bottom: -40%;
        }

        @media #{$lg} {
            bottom: -30%;
        }

        @media #{$md} {
            bottom: -26%;
        }

        @media #{$xs} {
            bottom: -6%;
        }

        @media #{$sm} {
            top: -15%;
         }
    }
    
}

/* 
    feature-1-end
*/