/* 
    feature-1-start
*/
.pf-feature-1 {
    &-area {
        padding-top: 205px;
        padding-bottom: 210px;

        @media #{$md} {
            padding-top: 205px;
            padding-bottom: 150px;
        }

        @media #{$xs} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
    &-sec-title {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }


        &-single {
            display: flex;
            gap: 24px;

            
            .icon {
                display: inline-block;
                max-width: 72px;
                flex: 0 0 auto;
                overflow: hidden;

                img {
                    transition: all .4s var(--pf-cube-2);
                }
            }

            .item-title {
                font-size: 23px;
                line-height: 29px;
                opacity: 80%;
                margin-bottom: 11px;
                transition: all .4s var(--pf-cube-2);

                @media #{$xs} {
                    font-size: 20px;
                }

                @media #{$sm} {
                    font-size: 23px;
                }

                &:hover {
                    color: var(--pf-clr-pr-1);
                    transform: translateX(3px);
                }
            }

            .item-disc {
                font-size: 16px;
                line-height: 24px;
                opacity: 64%;
            }

            &:hover {
                .icon {
                    img {
                        transform: translateY(10%);
                    }
                }
            }
        }

    }


    &-bg-shape {
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        @media #{$xs} {
            object-fit: cover;
        }
    }

    &-bg-glow-1 {
        position: absolute;
        top: -44%;
        width: 100%;
        left: 0;
        text-align: center;
        z-index: -2;

        @media #{$xxl} {
            top: -50%;
        }

        @media #{$xl} {
            top: -40%;
        }

        @media #{$lg} {
            top: -30%;
        }

        @media #{$md} {
            top: -20%;
        }

        @media #{$xs} {
           top: -5%;
        }

        @media #{$sm} {
           top: -10%;
        }
    }

    &-bg-glow-2 {
        position: absolute;
        bottom: -60%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: -2;

        @media #{$xxl} {
            bottom: -50%;
        }

        @media #{$xl} {
            bottom: -40%;
        }

        @media #{$lg} {
            bottom: -30%;
        }

        @media #{$md} {
            bottom: -26%;
        }

        @media #{$xs} {
            bottom: -6%;
        }

        @media #{$sm} {
            bottom: -10%;
         }
    }
    
}

@keyframes rubberBand{
    0%{
      transform:scale(1,1);
    }
    40%{
      transform:scale(1.1,0.8)
    }
    52%{
      transform:scale(0.8,0.7);
    }
    68%{
      transform:scale(1.2,1.2);
    }
    100%{
      transform:scale(1,1);
    }
  }

/* 
    feature-1-end
*/

/* 
    feature-3-start
*/
.pf-feature-3 {
    &-bg-shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }


    &-bg-shape-1 {
        width: 21%;
        filter: blur(40px);
        opacity: 70%;
        position: absolute;
        top: 50%;
        right: -11%;
        z-index: -1;
    }

    &-bg-shape-2 {
        width: 21%;
        filter: blur(50px);
        opacity: 48%;
        position: absolute;
        top: 0%;
        left: -12%;
        z-index: -1;
    }

    &-sec-title {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 110px;
    }
}


.pf-feature-1-item-single {
    &:is(.has-f3) {
        .item-title {
            color: var(--pf-clr-black-5);
            opacity: 1;

            &:hover {
                color: var(--pf-clr-pr-3);
            }
        }

        .item-disc {
            color: var(--pf-clr-black-5);
            font-weight: 400;
            opacity: 80%;
        }
    }
}
/* 
    feature-3-end
*/
/* 
    feature-4-start
*/
.pf-features-4 {
    &-area {
        padding-top: 235px;
        padding-bottom: 85px;
        background: var(--pf-clr-white-2);

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding-top: 150px;
        }

        @media #{$xs} {
            padding-top: 150px;
            padding-bottom: 0px;
        }
    }

    &-wrap {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }

    &-content {
        width: 100%;
        max-width: 645px;


    }

    &-sec-title {
        .pf-sec-title-4 {
            margin-bottom: 23px;
        }

        .sec-disc {
            opacity: 80%;
            margin-bottom: 32px;
        }
    }
    
    &-tabs {
        max-width: 530px;

        .nav-link {
            display: flex;
            align-items: baseline;
            gap: 12px;
            background: rgb(255 255 255 / 56%);
            color: var(--pf-clr-black-6);
            font-weight: 600;
            font-size: 22px;
            border: 1px solid #EBE2DA;
            border-radius: 8px;
            padding: 13px 24px;
            width: 100%;

            @media #{$xs} {
                font-size: 20px;
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            svg {
                fill: var(--pf-clr-pr-3);
            }

            &:is(.active) {
                background: var(--pf-clr-black-6);
                color: var(--pf-clr-white-1);

                svg {
                    fill: var(--pf-clr-sd-3);
                }
            }
        }
    }

    
    &-pane {
        margin-bottom: 30px;
        .disc {
            width: 100%;
            max-width: 364px;
            background: var(--pf-clr-sd-3);
            padding: 16px 32px;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            border-radius: 10px;
            box-shadow: -16px 16px 80px 0 rgba(0,0,0,.2);
            position: relative;
            z-index: 1;

            .shape {
                fill: var(--pf-clr-sd-3);
                position: absolute;
                bottom: -30px;
                right: 10%;
                z-index: -1;
            }
        }
    }

    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 42%;
        text-align: right;

        @media #{$xs} {
            position: relative;
            margin-top: 50px;
            width: 100%;
            margin-left: auto;
        }

        @media #{$sm} {
            position: relative;
            margin-top: 50px;
            width: 65%;
            margin-left: auto;
        }

        .img-2 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;

        }
    }
    

}

/* 
    feature-4-end
*/

/* 
    feature-5-start
*/

.pf-feature-5 {
    &-area {
        padding-top: 320px;
        margin-top: -170px;
        z-index: 2;


        @media #{$lg,$md,$xs} {
            padding-top: 100px;
            margin-top: 0px;
            background-color: #0C1014;
        }
    }
    &-line {
        position: absolute;
        bottom: 39%;
        left: 0;
        width: 100%;
        height: 283px;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            height: 130px; 
        }
    }

    &-bg-shape {
        position: absolute;
        filter: grayscale(1);
        bottom: 15%;
        height: 710px;
        left: 0;
        width: 100%;
        z-index: -2;
    }

    &-sec-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -3;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }

    &-sce-title {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;

        .pf-subtitle-5 {
            color: var(--pf-clr-sd-4);
        }

        .pf-sec-title-5 {
            color: var(--pf-clr-white-1);
            margin-bottom: 21px;
            .has-dot {
                color: var(--pf-clr-sd-4);
            }
        }

        .sec-disc {
            color: var(--pf-clr-white-1);
            opacity: 72%;
            font-weight: 300;
        }
    }

    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: start;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-card {
        position: relative;
        z-index: 1;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(5.5px);
        border-radius: 16px;
        padding: 35px 32px;
        padding-top: 56px;

        .icon {
            margin-bottom: 16px;
            transition: all 1s var(--pf-cube-2);
        }

        .card-title {
            font-size: 23px;
            line-height: 1.260;
            color: var(--pf-clr-white-1);
            letter-spacing: -.5px;
            margin-bottom: 12px;
            transition: all .3s var(--pf-cube-2);


            &:hover {
                color: var(--pf-clr-sd-4);
                transform: translateY(3px);
            }
        }

        .card-disc {
            font-size: 16px;
            line-height: 24px;
            color: var(--pf-clr-white-1);
            font-weight: 300;
        }


        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 16px;
            padding: 1px;
            background: linear-gradient(225deg, rgb(255 255 255), rgba(42, 200, 211, 0.0) 40%);
            z-index: -1;
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            .icon {
                transform: translateX(10px);
            }
        }


        &:nth-child(odd) {
            margin-top: 158px;

            @media #{$xs} {
                margin-top: 0px;
            }

            @media #{$sm} {
                margin-top: 158px;
            }
        }

        &:nth-child(even) {
            background: rgba(255, 255, 255, 0.14);
        }

        &:first-child {
            border-radius: 16px 0px 16px 16px;
            
            &::before {
                background: linear-gradient(45deg, rgb(255 255 255), rgba(42, 200, 211, 0.0) 40%);
                border-radius: 16px 0px 16px 16px;
            }
        }

        &:nth-child(2) {
            border-radius: 16px 16px 0px 0px;
            
            &::before {
                border-radius: 16px 16px 0px 0px;
            }
        }

        &:nth-child(3) {
            border-radius: 0px 0px 16px 16px;
            
            &::before {
                background: linear-gradient(315deg, rgb(255 255 255), rgba(42, 200, 211, 0.0) 40%);
                border-radius: 0px 0px 16px 16px;
            }
        }

        &:nth-child(4) {
            border-radius: 16px 16px 16px 0px;
            
            &::before {
                border-radius: 16px 16px 16px 0px;
            }
        }
    }

    &-content {
        .disc {
            color: var(--pf-clr-white-1);
            opacity: 88%;
            font-weight: 300;
            margin-bottom: 30px;
        }
    }
    
}


/* 
    feature-5-end
*/

/* 
    feature-7-start
*/
.pf-feature-7 {

    &-area {
        .pf-feature-3-bg-shape {
            object-fit: cover;
        }
    }

    &-sec-title {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;

        .pf-subtitle-3 {
            color: var(--pf-clr-black-1);

            &-line {
                background: var(--pf-clr-black-1);
            }
        }
    }

    &-btn {
        .pf-pr-5 {
            background: var(--pf-clr-black-1);

            .icon {
                background: var(--pf-clr-sd-4);

                svg {
                    &:nth-child(1) {
                        stroke: var(--pf-clr-black-1);
                    }
                    &:nth-child(2) {
                        stroke: var(--pf-clr-black-1);
                    }
                }
            }

            &:hover {
                background: var(--pf-clr-pr-6);
            }
        }
    }
}

.pf-feature-1-item {
    &:is(.has-feature-7) {
        .pf-feature-1-item-single:is(.has-f3) .item-title {
            font-weight: 600;
            color: var(--pf-clr-black-1);

            a {
                width: 100%;
                display: inline !important;
                background-position-y: -1px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1.5px), currentColor 2px);
                transition: all .4s var(--pf-cube-2);

                &:hover {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }

        }
    }
}
/* 
    feature-7-end
*/