/* 
    footer-1-start
*/
.pf-footer-1 {

    &-area {
        position: relative;
        z-index: 1;
        padding-top: 80px;
        padding-bottom: 315px;

        @media #{$lg,$md,$xs} {
            padding-bottom: 200px;
        }
    }

    &-line {
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
        opacity: 12%;
        transform-origin: center center;
    }

    &-widget {
        display: grid;
        gap: 50px 75px;
        grid-template-columns: 1fr auto auto auto auto;

        @media #{$lg,$md} {
            grid-template-columns: auto auto auto;
        }

        @media #{$xs} {
            grid-template-columns: auto ;
        }

        @media #{$sm} {
            grid-template-columns: auto auto ;
        }

        &-single {
            .widget-title {
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;
                opacity: 48%;
                line-height: 1.2;
                margin-bottom: 18px;
            }

            .pf-free-phone-1 {
                line-height: 22px;
                color: rgb(255 255 255 / 64%);

                .icon {
                    border: 1.5px solid #2ac8d31a;
                    transition: all .4s var(--pf-cube-2);
                }
                .number {
                    color: rgb(255 255 255 / 80%);
                    transition: all .4s var(--pf-cube-2);
                }

                &:hover {
                    .icon {
                        transform: rotate(45deg);
                    }
                    .number {
                        color: var(--pf-clr-pr-1);
                        b {
                            color: var(--pf-clr-pr-1);
                        }
                    }
                }
            }
        }


    }

    &-menu {
        li {
            &:not(:last-child) {
                margin-bottom: 13px;
            }
        
            a {
                font-family: var(--pr-font-h-1);
                text-transform: capitalize;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.2;
                opacity: 80%;
                transition: all .4s var(--pf-cube-2);
                position: relative;
                z-index: 1;
                

                &::after {
                    content: "";
                    width: 0px;
                    height: 1.5px;
                    position: absolute;
                    top: 9px;
                    left: -12px;
                    background: var(--pf-clr-pr-1);
                    transition: all .4s var(--pf-cube-2);
                }

                &:hover {
                    transform: translateX(12px);
                    color: var(--pf-clr-pr-1);
                    &::after {
                        width: 8px;
                    }
                }

            }
        }
    }

    &-social {
        display: flex;
        gap: 20px;
        font-size: 18px;
        transition: all .4s var(--pf-cube-2);
        color: var(--pf-clr-pr-1);

        a {
            transition: all .4s var(--pf-cube-2);

            &:hover {
                transform: scale(1.5);
            }
        }
    }
    

    &-back-top {
        text-align: right;

        &-icon {
            fill: transparent;
            stroke: var(--pf-clr-pr-1);
            transition: all .4s var(--pf-cube-2);
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);

                svg {
                    line {
                        transform: scaleY(1.4);
                    }
                }
            }
        }
    }
    

    &-copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px 30px;
        flex-wrap: wrap;

        @media #{$xs} {
            justify-content: center;
        }

        &-text {
            font-family: var(--pf-font-h-1);
            font-size: 16px;
            line-height: 1.2;
            color: rgb(255 255 255 / 64%);

            a {
                color: rgb(255 255 255 / 100%); 
                transition: all .4s var(--pf-cube-2);
                font-weight: 500;
                display: inline-block;
                border-bottom: 1px solid #fff;

                &:hover {
                    color: var(--pf-clr-pr-1);
                    border-color: var(--pf-clr-pr-1);
                }
            }
        }


        &-menu {
            display: flex;
            gap: 5px 40px;
            flex-wrap: wrap;

            li a {
                font-family: var(--pf-font-h-1);
                font-size: 16px;
                line-height: 1.2;
                text-transform: capitalize;
                color: var(--pf-clr-white-1);
                opacity: 64%;
                font-weight: 400;
                border-bottom: 1px solid transparent;
                transition: all .4s var(--pf-cube-2);

                &:hover {
                    border-color: var(--pf-clr-pr-1);
                    color: var(--pf-clr-pr-1);
                }
                
            }
        }
    }
    


    &-shape {
        width: 45%;
        position: absolute;
        bottom: -69%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 20%;

        @media #{$xxxl} {
            bottom: -55%;
        }

        @media #{$xxl} {
            bottom: -45%;
        }

        @media #{$xl} {
            bottom: -35%;
        }

        @media #{$lg} {
            bottom: -30%;
        }

        @media #{$md} {
            bottom: -25%;
        }

        @media #{$xs} {
            bottom: -2%;
        }

        @media #{$sm} {
            bottom: -9%;
        }
    }
}


/* 
    footer-1-end
*/

/* 
    footer-2-start
*/
.pf-footer-2 {
    &-area {
        background-color: var(--pf-clr-black-3);
        padding-bottom: 365px;
    }

    &-img {
        height: 710px;
        width: 100%;
        position: absolute;
        bottom: 0;
        filter: grayscale(1);
        opacity: 24%;
        z-index: -1;
    }
    
}

.has-footer-v2 {
    &:is(.pf-footer-1-menu) {
        li {
            a {
                &::after {
                    background: var(--pf-clr-pr-2);
                    height: 2px;
                }

                &:hover {
                    color: var(--pf-clr-pr-2); 
                }
            }
        }
    }

    &:is(.pf-free-phone-1) {
        .icon {
            border: 1.5px solid var(--pf-clr-pr-2);
            background: transparent;
            stroke: var(--pf-clr-pr-2);
            fill: transparent;
        }

        &:hover {
            .number {
                color: var(--pf-clr-pr-2);
                b {
                    color: var(--pf-clr-pr-2);
                }
            }
        }
    }
    
    &:is(.pf-footer-1-social) {
        color: var(--pf-clr-pr-2);
    }

    &:is(.pf-join-btn-1) {
        .icon {
            fill: transparent;
            stroke: var(--pf-clr-pr-2);
        }

        &:hover {
            color: var(--pf-clr-pr-2);
        }
    }

    &:is(.pf-footer-1-back-top-icon) {
        stroke: var(--pf-clr-pr-2);
    }
    &:is(.pf-footer-1-copyright-menu) {
        a {

            &:hover {
                border-color: var(--pf-clr-pr-2);
                color: var(--pf-clr-pr-2);
            }
        }
    }

    &:is(.pf-footer-1-copyright-text) {
        a {
            &:hover {
                border-color: var(--pf-clr-pr-2);
                color: var(--pf-clr-pr-2);
            }
        }
    }
}
/* 
    footer-2-end
*/

/* 
    footer-3-start
*/

.has-footer-v3 {
    &:is(.pf-footer-1-menu) {
        li {
            a {
                &::after {
                    background: var(--pf-clr-sd-2);
                    height: 2px;
                }

                &:hover {
                    color: var(--pf-clr-sd-2); 
                }
            }
        }
    }

    &:is(.pf-free-phone-1) {
        .icon {
            border: 1.5px solid var(--pf-clr-sd-2);
            background: transparent;
            stroke: var(--pf-clr-sd-2);
            fill: transparent;
        }

        &:hover {
            .number {
                color: var(--pf-clr-sd-2);
                b {
                    color: var(--pf-clr-sd-2);
                }
            }
        }
    }
    
    &:is(.pf-footer-1-social) {
        color: var(--pf-clr-sd-2);
    }

    &:is(.pf-join-btn-1) {
        .icon {
            fill: transparent;
            stroke: var(--pf-clr-sd-2);
        }

        &:hover {
            color: var(--pf-clr-sd-2);
        }
    }

    &:is(.pf-footer-1-back-top-icon) {
        stroke: var(--pf-clr-sd-2);
    }
    &:is(.pf-footer-1-copyright-menu) {
        a {

            &:hover {
                border-color: var(--pf-clr-sd-2);
                color: var(--pf-clr-sd-2);
            }
        }
    }

    &:is(.pf-footer-1-copyright-text) {
        a {
            &:hover {
                border-color: var(--pf-clr-sd-2);
                color: var(--pf-clr-sd-2);
            }
        }
    }
}
/* 
    footer-3-end
*/
/* 
    footer-4-start
*/
.pf-footer-4 {

    &-area {
        padding-top: 232px;
        padding-bottom: 275px;
        background-color: var(--pf-clr-black-6);
        margin-top: -90px;
    }

    &-brand-text-posi {
        position: absolute;
        width: 100%;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        bottom: -95px;
        z-index: -1;

        @media #{$lg} {
            bottom: -80px;
        }

        @media #{$md} {
            bottom: -70px;
        }

        @media #{$xs} {
            bottom: -40px;
        }

        @media #{$sm} {
            bottom: -50px;
        }
    }

    &-brand-text {
        font-weight: 800;
        font-size: 300px;
        opacity: 32%;
        text-transform: unset !important;
        display: inline-block;

        @media #{$lg} {
            font-size: 250px;
        }

        @media #{$md} {
            font-size: 200px;
        }

        @media #{$xs} {
            font-size: 100px;
        }

        @media #{$sm} {
            font-size: 150px;
        }



        .split-line {

            div {
                div {
                    &:nth-child(1) {
                        text-transform: capitalize;
                    }
                }

            }
        }
    }
}


.has-footer-v4 {
    &:is(.pf-footer-1-menu) {
        li {
            a {
                &::after {
                    background: var(--pf-clr-sd-3);
                    height: 2px;
                }

                &:hover {
                    color: var(--pf-clr-sd-3); 
                }
            }
        }
    }

    &:is(.pf-free-phone-1) {
        .icon {
            border: 1.5px solid var(--pf-clr-white-1);
            background: transparent;
            stroke: var(--pf-clr-white-1);
            fill: transparent;
        }

        &:hover {
            .number {
                color: var(--pf-clr-sd-3);
                b {
                    color: var(--pf-clr-sd-3);
                }
            }
        }
    }
    
    &:is(.pf-footer-1-social) {
        color: var(--pf-clr-white-1);
        a {
            &:hover {
                color: var(--pf-clr-sd-3);
            }
        }
    }

    &:is(.pf-join-btn-1) {
        .icon {
            fill: transparent;
            stroke: var(--pf-clr-white-1);
        }

        &:hover {
            color: var(--pf-clr-sd-3);
            .icon {
                stroke: var(--pf-clr-sd-3);
            }
        }
    }

    &:is(.pf-footer-1-back-top-icon) {
        stroke: var(--pf-clr-white-1);
        &:hover {
            stroke: var(--pf-clr-sd-3);
        }
    }
    &:is(.pf-footer-1-copyright-menu) {
        a {

            &:hover {
                border-color: var(--pf-clr-sd-3);
                color: var(--pf-clr-sd-3);
                opacity: 100%;
            }
        }
    }

    &:is(.pf-footer-1-copyright-text) {
        a {
            &:hover {
                border-color: var(--pf-clr-sd-3);
                color: var(--pf-clr-sd-3);
            }
        }
    }
}

/* 
    footer-4-end
*/