/* 
    gallery-2-start
*/
.pf-gallery-2 {
    &-img {
        height: 550px;
        filter: grayscale(1);

        @media #{$xs} {
            height: 300px;
        }

        @media #{$sm} {
            height: 400px;
        }

        .img-posi {
            position: absolute;
            top: 0;
            left: 0;
        }

        .img-2 {
            z-index: 2;
        }

        .img-3 {
            z-index: 3;
        }

        .img-4 {
            z-index: 4;
        }

        .img-5 {
            z-index: 5;
        }
    }
}
/* 
    gallery-2-end
*/