/* 
    header-1-start
*/



.pf-header-1 {

    &-area {
        position: absolute;
        top: 32px;
        width: 100%;
        left: 0;
        z-index: 8;
    }

    &-row {
        gap: 30px;
    }

    &-action-link {
        gap: 20px;
        padding: 17px 20px;
        border-radius: 12px;
        background: rgb(255 255 255 / 0%);
        backdrop-filter: blur(8px);
        position: relative;
        z-index: 1;
        border: 1.5px solid transparent; /* No visible border on the button itself */



        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 12px; /* Match button's border-radius */
          padding: 1px; /* Adjust to create space for the border */
          background: linear-gradient(90deg, rgba(199,255,73,1) 0%, rgba(125,255,88,1) 100%);
          z-index: -1; /* Place the gradient border behind the button */
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: exclude;
          animation: rotateGradient 3s linear infinite; /* Animation applied here */
        }



        &-line {
            width: 1px;
            height: 24px;
            background-color: var(--pf-clr-white-1);
            opacity: 24%;
        }
    }
    
    
}

@keyframes rotateGradient {
  0% {
      background: linear-gradient(0deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  5% {
      background: linear-gradient(18deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  10% {
      background: linear-gradient(36deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  15% {
      background: linear-gradient(54deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  20% {
      background: linear-gradient(72deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  25% {
      background: linear-gradient(90deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  30% {
      background: linear-gradient(108deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  35% {
      background: linear-gradient(126deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  40% {
      background: linear-gradient(144deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  45% {
      background: linear-gradient(162deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  50% {
      background: linear-gradient(180deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  55% {
      background: linear-gradient(198deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  60% {
      background: linear-gradient(216deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  65% {
      background: linear-gradient(234deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  70% {
      background: linear-gradient(252deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  75% {
      background: linear-gradient(270deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  80% {
      background: linear-gradient(288deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  85% {
      background: linear-gradient(306deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  90% {
      background: linear-gradient(324deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  95% {
      background: linear-gradient(342deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
  100% {
      background: linear-gradient(360deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);
  }
}

// background: linear-gradient(90deg, rgba(42,200,211, 48%) 0%, rgba(42,200,211, 8%) 100%);



.pf-header-menu {
    &-area {
        position: fixed;
        top: 755px;
        width: 100%;
        left: 0;
        z-index: 6;
        transition: all 1s var(--pf-cube-1);

        @media #{$lg} {
            top: 630px;

        }

        &:is(.sticky1) {
            top: 30px;


            .vy-main-navigation .navbar-nav {
                background: linear-gradient(180deg, rgba(0,0,0, 80%) 0%, rgba(0,0,0, 50%) 100%); 
                &::before {
                    top: -1px;
                    padding: 2px;
                }
                li {
                    .dropdown-menu {
                        top: 102%;
                        transform-origin: top;
                        bottom: unset;
                        background: linear-gradient(180deg, rgba(0,0,0, 80%) 0%, rgba(0,0,0, 50%) 100%);

                        li {
                            .dropdown-menu {
                                top: 0%;
                            }
                        }
                    }
                }
            }
        }

    }

    &-width {
        width: 100%;
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;
    }
    
}




.vy-main-navigation {
    .navbar-nav {
        position: relative;
        flex-direction: row;
        background: linear-gradient(0deg, rgba(0,0,0, 28%) 0%, rgba(0,0,0, 4%) 100%);
        padding: 0 8px;
        border-radius: 12px;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0;
            border-radius: 12px;
            padding: 1px;
            background: linear-gradient(90deg, rgb(199, 255, 73) 0%, rgb(125, 255, 88) 100%);
            z-index: -1;
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            animation: rotateGradient 2s linear infinite;
        }

        li {
            display: inline-block;
            position: relative;
            transition: all .4s var(--pf-cube-1);

  
        &:is(.dropdown) {
          > a {
            padding-right: 28px;

            &::before {
              content: "\f078";
              font-family: "Font Awesome 6 free";
              font-weight: 700;
              position: absolute;
              font-size: 12px;
              right: 11px;
              top: 50%;
              transform: translateY(-50%);
              transition: 400ms ease-in-out;
              color: var(--vy-clr-pr-1);
              opacity: 64%;
            }

          }

        }
  
        a {
            position: relative;
            z-index: 1;
            font-family: var(--pf-font-h-1);
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            color: var(--pf-clr-white-1);
            padding: 16px 14px;
            display: inline-block;
            text-transform: capitalize;
            line-height: 1;
            transition: all 0.4s var(--pf-cube-1);
            opacity: 64%;

            &::after {
                content: "";
                width: 100%;
                height: 32px;
                position: absolute;
                top: 8px;
                left: 0;
                border-radius: 8px;
                background: linear-gradient(0deg, rgba(42,200,211, 4%) 0%, rgba(42,200,211, 72%) 100%);
                transition: all 0.4s var(--pf-cube-1);
                transform: scale(.5);
                opacity: 0;
            }


            &:is(.has-active) {
                opacity: 1;
                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
                &::before {
                    opacity: 1;
                }
            }
        }
        

  
        .dropdown-menu {
          left: 0;
          bottom: 102%;
          z-index: 100;
          margin: 0px;
          padding: 20px 0px;
          min-width: 200px;
          display: block;
          border: none;
          box-shadow: 0 10px 50px 0 rgb(0 0 0 / 5%);
          border-radius: 0;
          position: absolute;
          background: linear-gradient(0deg, rgba(0,0,0, 80%) 0%, rgba(0,0,0, 4%) 100%);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border-radius: 12px;
          text-align: left;
          opacity: 0;
          visibility: hidden;
          transform-origin: bottom ;
          transform: scaleY(0);
          transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);

          

          li {
            display: block;
            margin: 0;
            position: relative;
  
            a {
              width: 100%;
              display: block;
              padding: 10px 20px;
              font-size: 14px;

              &::after {
                top: 0;
              }
            }
  
            &:is(.dropdown) {
              > a {
                &::before {
                  right: 20px;
                  top: 49%;
                }
              }
            }
  
            .dropdown-menu {
              bottom: 0;
              left: 100%;
              min-width: 200px;
  
              @media #{$xxl,$xl,$lg} {
                min-width: 200px;
              }
            }
  
            &:hover {
                a {
                    color: white;
                }
            }
          }
        }

        
        &:hover {
            opacity: 1;
            > a {
              color: var(--vy-clr-pr-1);
              opacity: 1;

              &::after {
                opacity: 1;
                transform: scale(1);
              }

              &::before {
                opacity: 1;
              }
            }
            > .dropdown-menu {
              opacity: 1;
              visibility: visible;
              transform: scaleY(1);
            }
        }
      }
    }
}





/* 
    header-1-end
*/

/* 
    header-2-start
*/
.pf-header-2 {

    &-area {
        position: absolute;
        top: 12px;
        left: 0;
        z-index: 5;
        width: 100%;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(255 255 255 / 28%);
        border-radius: 0 0 8px 8px;
        border-top: none;
        gap: 16px;
        padding-right: 16px;

        @media #{$xs} {
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        @media #{$sm} {
            justify-content: space-between;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .pf-free-phone-1 {
            font-size: 14px;
            color: var(--pf-clr-white-1);
            gap: 5px;
            transition: all .4s var(--pf-cube-2);

            @media #{$md,$xs} {
                display: none;
            }

            .icon {
                width: 40px;
                height: 40px;
                padding: 10px;
                border-right: 1px solid rgb(255 255 255 / 28%);
                border-radius: 0;
                stroke: var(--pf-clr-white-1);
                border-radius: 0 0 0 8px;
                fill: transparent;
                transition: all .4s var(--pf-cube-2);
            }

            b {
                font-weight: 600;
            }

            &:hover {
                .icon {
                    background: var(--pf-clr-pr-2);
                }
                color: rgb(255 255 255 / 80%);
                b {
                    color: rgb(255 255 255 / 70%);
                }
            }
        }


        .pf-join-btn-1 {
            font-weight: 300;
            opacity: 100%;
            border-right: 1px solid rgb(255 255 255 / 28%);
            padding: 6px 16px;
            padding-left: 0;

            @media #{$xs} {
                display: none;
            }

            .icon {
                stroke: var(--pf-clr-white-1);
            }
            &:hover {
                color: var(--pf-clr-white-1);
                opacity: 80%;
                .icon {
                    stroke: var(--pf-clr-white-1);
                }
            }
        }

        .pf-footer-1-social {
            font-size: 16px;
            color: var(--pf-clr-white-1);

            &:hover {
                opacity: 80%;
            }
        }

        .pf-search-btn-2 {
            margin-left: auto;
            @media #{$md} {
                border-left: none;
                margin-left: 0;
            }
            @media #{$xs} {
                border-left: none;
                margin-left: 0;
                display: none;
            }
            @media #{$sm} {
                border-left: none;
                margin-left: 0;
                display: flex;
            }
        }


    }

    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        @media #{$md,$xs} {
            padding: 10px 0;
        }

        &-action-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .pf-pr-2 {
                background: var(--pf-clr-white-1);
                color: var(--pf-clr-pr-2);
                padding: 9px 19px;
                border-radius: 8px;

                @media #{$xs} {
                    display: none;
                }
                @media #{$sm} {
                    display: inline-block;
                }

                &:hover {
                    background: var(--pf-clr-black-3);
                }
            }
        }
    }
}


.vy-main-navigation {
    &:is(.has-header-2) {
        margin-left: auto;
        .navbar-nav {
            background: transparent;
            padding: 0;
            gap: 32px;
            border-radius: 0;

                @media #{$lg} {
                    gap: 20px;
                }

            &::before {
                display: none;
            }

            li {
                a {
                    opacity: 1;
                    padding: 33px 0;
                    position: relative;

                    &::after {
                        content: "";
                        width: 0px;
                        height: 1px;
                        background: var(--pf-clr-white-1);
                        position: absolute;
                        top: unset;
                        bottom: 30px;
                        left: 1px;
                        border-radius: 0;   
                        transition: all .4s var(--pf-cube-2);
                    }
                }

                &:is(.dropdown) {
                    a {
                        padding-right: 20px;

                        &::before {
                            right: 0;
                            opacity: 1;
                            transition: all .4s var(--pf-cube-2);
                        }
                    }
                }

                &:hover {
                    a {
                        &::after {
                            width: 20px;
                        }
                        &::before {
                            top: 54%;
                        }
                    }
                }

                
                .dropdown-menu {
                    border-radius: 0;
                    transform-origin: top;
                    bottom: unset;
                    top: 100%;
                    background: var(--pf-clr-white-1);
                    border-top: 2px solid var(--pf-clr-pr-2);
                    li  {
                        a {
                            font-weight: 500;
                            color: var(--pf-clr-black-1);

                            &::after {
                                background: var(--pf-clr-pr-2);
                                top: 25px;
                                left: 21px;
                            }
                        }

                        &:hover {
                            > a {
                                color: var(--pf-clr-pr-2);
                            }
                        }

                        .dropdown-menu {
                            top: 0%;
                            bottom: unset;
                        }
                    }
                }

            }
        }
    }
}
/* 
    header-2-end
*/