/* 
    services-1-start
*/
.pf-services-1 {

    &-area {
        position: relative;
        z-index: 2;
        padding-top: 100PX;
        padding-bottom: 208px;

        @media #{$lg} {
            padding-bottom: 100px;
        }

        @media #{$md} {
            padding-top: 50px;
            padding-bottom: 100px;
        }
        @media #{$xs} {
            padding-top: 50px;
            padding-bottom: 80px;
        }
    }

    &-sec-title {
        font-size: 32px;
        line-height: 1.31;
        letter-spacing: -.5px;
        opacity: 80%;
        max-width: 695px;
        margin-bottom: 70px;

        @media #{$xs} {
            font-size: 26px;
            letter-spacing: 0px;
        }

        @media #{$sm} {
            font-size: 30px;
        }
    }

    &-item-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr; 
        }

        @media #{$xs} {
            grid-template-columns: 1fr ; 
        }

        @media #{$sm} {
            grid-template-columns: 1fr  1fr; 
        }
    }

    &-item {
        border-bottom: 1px solid rgb(255 255 255 / 12%);
        padding-bottom: 60px;
        position: relative;
        z-index: 1;
        margin-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;


        &::after {
            content: "";
            width: 1px;
            height: 170px;
            background-color: var(--pf-clr-white-1);
            opacity: 12%;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &::before {
            content: "+";
            font-size: 16px;
            line-height: 1;
            position: absolute;
            left: -4px;
            bottom: -7px;
        }

        .maxwidth {
            max-width: 305px;
            width: 100%;
        }
        .icon {
            display: inline-block;
            position: relative;
            z-index: 1;
            margin-bottom: 37px;
            transform-origin: top left;
            transition: all .4s var(--pf-cube-2);

            img {
                filter: grayscale(1);
            }
            
        
            &::after {
                content: "";
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: var(--pf-clr-pr-1);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                filter: blur(40px);
                z-index: unset;
            }
            
        }
        .item-title {
            font-size: 23px;
            font-weight: 400;
            opacity: 72%;
            margin-bottom: 19px;
            transition: all .4s var(--pf-cube-2);

            &:hover {
                color: var(--pf-clr-pr-1);
                opacity: 100%;
                transform: translateX(3px);
            }
        }

        .item-disc {
            font-size: 16px;
            line-height: 24px;
            opacity: 64%;
        }

        .dot-shape {
            fill: var(--pf-clr-white-1);
            position: absolute;
            bottom: -9px;
            left: -8px;
            display: none;
        }

        &:hover {
            .icon {
                transform: rotate(-10deg);
            }
        }


        &:nth-child(1) {
            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
            .dot-shape {
                display: inline-block;
            }
        }

        &:last-child {
            .dot-shape {
                display: inline-block;
                bottom: -9px;
                left: unset;
                right: -8px;
            }  
        }

        &:nth-child(2) {
            .icon {
                transform-origin: center center;
            }

        }

        &:nth-child(3) {
            .icon {
                transform-origin: left bottom;
            }
            &:hover {
                .icon {
                    transform: rotate(0deg) scale(105%);
                }
            }
        }
    }

    &-call-btn {
        .pf-free-phone-1 {
            transition: .4s var(--pf-cube-2);
            b {
                transition: .4s var(--pf-cube-2);
            }
            .icon {
                transition: .4s var(--pf-cube-2);

            }
            &:hover {
                .icon {
                    transform: rotate(45deg);
                } 
                b {
                    color: var(--pf-clr-pr-1);
                }
            }
        }
    }
}


/* 
    services-1-end
*/

/* 
    services-2-start
*/
.pf-multi-sec-1 {
    background-color: var(--pf-clr-black-3);

    .illus-2 {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 12%;
    }
    
    .illus-1 {
        width: 13%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.pf-services-2 {
    &-sec-title {
        max-width: 870px;
        margin-bottom: 68px;
    }

    &-wrap {
        display: flex;
        gap: 206px;
        align-items: end;

        @media #{$xl} {
            gap: 35px;
        }

        @media #{$lg,$lg,$md,$xs} {
            flex-wrap: wrap;
            gap: 50px;
        }
    }

    &-btn {
        flex: 0 0 auto;
    }

    &-slider {
        display: flex;

        &-item {
            display: grid;
            grid-template-columns: auto 1fr 1fr;
            gap: 32px;
            padding: 40px;
            border-radius: 12px 0px 0px 12px;
            background: var(--pf-clr-white-1);

            @media #{$xs} {
                padding: 40px 20px;
            }

            @media #{$sm} {
                padding: 40px 40px;
            }

            @media #{$xs} {
                grid-template-columns: auto;
            }
    
            .subtitle {
                font-size: 16px;
                line-height: 28px;
                color: var(--pf-clr-black-4);
                font-weight: 500;
            }
            
            
            .item-img {
                height: 213px;
                border-radius: 12px;
                filter: grayscale(1);
            }
            
            .item-title {
                font-size: 23px;
                color: var(--pf-clr-black-4);
                font-weight: 600;
                margin-bottom: 13px;
                transition: all .4s var(--pf-cube-2);
                
                &:hover {
                    transform: translateX(3px);
                    opacity: 72%;
                }

                @media #{$xs} {
                    font-size: 20px;
                }

                @media #{$sm} {
                    font-size: 23px;
                }
            }
            
            .item-disc {
                color: var(--pf-clr-black-3);
                font-weight: 400;
                opacity: 72%;
            }
        }

        .swiper-container {
            overflow: hidden;
            padding-left: 48px;

            @media #{$xs} {
                padding-left: 8px;
            }

            @media #{$sm} {
                padding-left: 48px;
            }
        }

        .pf-s2-pagination-num {
            display: inline-flex;
            align-items: center;
            gap: 7px;
            line-height: 1;
            font-size: 16px;
            font-weight: 400;
            color: rgb(33 37 39 / 40%);
            position: absolute;
            bottom: 41px;
            right: 38%;
            left: unset;
            z-index: 1;
            width: 50px;

            @media #{$md,$xs} {
                display: none;
            }

            .swiper-pagination-current {
                color: rgb(33 37 39 / 100%);
            }
        }

    }
    
}

.pf-slider-hori-btn {
    display: flex;
    flex-direction: column;
    background: #FFE6E3;
    border-left: 2px solid #FFE6E3;
    width: 48px;
    flex: 0 0 auto;
    border-radius: 0 12px 12px 0;
    overflow: hidden;

    &-single {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: rgb(255 39 39 / 100%);
        transition: all .4s var(--pf-cube-2);
        cursor: pointer;

        &:hover {
            background-color: var(--pf-clr-white-1);
            color: rgb(255 39 39 / 40%);
        }
    }
    
}


/* 
    services-2-end
*/

/* 
    services-3-start
*/
.pf-services-3 {

    &-area {
        padding-top: 150px;
    }


    &-bg-shape-1 {
        width: 21%;
        filter: blur(60px);
        opacity: 48%;
        position: absolute;
        bottom: 0;
        right: -10%;
        z-index: -1;
    }

    &-bg-shape-2 {
        width: 21%;
        filter: blur(60px);
        opacity: 48%;
        position: absolute;
        bottom: 0;
        left: -10%;
        z-index: -1;
    }

    &-sec-title {
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 54px;


        .pf-sec-shape {
            margin-bottom: 47px;
            width: 150px;
        }
    }


    &-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        &-single {
            background: var(--pf-clr-sd-2);
            border-radius: 20px 0 0 20px;
            position: relative;
            z-index: 1;
            padding: 48px 48px;
            transition: all .4s var(--pf-cube-2);
            overflow: hidden;

            @media #{$xl} {
                padding: 48px 30px;
            }

            @media #{$lg} {
                padding: 48px 20px;
            }

            @media #{$md} {
                padding: 48px 30px;
            }

            @media #{$xs} {
                padding: 48px 20px;
            }

            .icon {
                margin-bottom: 115px;
                mix-blend-mode: luminosity;

                img {
                    transition: all .4s var(--pf-cube-2);
                }
            }

            .card-shape {
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
                fill: #2A2A2A;

                path {
                    &:nth-child(2) {
                        transition-delay: .2s;
                    }
                    
                    &:nth-child(3) {
                        transition-delay: .4s;
                    }
                }
            }

            .card-title {
                font-size: 23px;
                font-weight: 500;
                color: var(--pf-clr-black-5);
                margin-bottom: 17px;
                transition: all .4s var(--pf-cube-2);

                &:hover {
                    opacity: .8;
                    transform: translateX(3px);
                }
            }


            &:hover {
                .card-shape {
                    path {
                        transform: translate(20px , -20px);
                        
                        &:nth-child(2) {
                            transition-delay: .2s;
                        }
                        
                        &:nth-child(3) {
                            transition-delay: .4s;
                        }
                    }
                }
            }

            &:nth-child(1) {
                .icon {
                    img {
                        transform-origin: top left;
                    }
                }

                &:hover {
                    .icon {
                        img {
                            transform: rotate(-10deg);
                        }
                    }
                }
            }

            &:nth-child(2) {
                background: #D1DEF8;

                &:hover {
                    .icon {
                        img {
                            transform: rotate(-10deg);
                        }
                    }
                }
            }

            &:nth-child(3) {
                background: var(--pf-clr-pr-3);

                .card-title  , .card-disc{
                    color: var(--pf-clr-white-1);
                }

                &:hover {
                    .icon {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    
}
/* 
    services-3-end
*/
/* 
    services-4-start
*/
.pf-services-4 {

    &-bg-shape-1 {
        width: 21%;
        filter: blur(40px);
        opacity: 48%;
        position: absolute;
        top: 2%;
        left: -10%;
        z-index: -1;
    }

    &-bg-shape-2 {
        width: 21%;
        filter: blur(50px);
        opacity: 48%;
        position: absolute;
        top: 20%;
        right: -10%;
        z-index: -1;
    }

    &-sec-shape {
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: flex !important;
        margin-bottom: 47px;
    }

    &-sec-title {
        max-width: 680px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 54px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        background: rgb(42 42 42 / 4%);
        padding: 40px  40px;
        border-radius: 16px;
        backdrop-filter: blur(96px);
        transition: all .4s var(--pf-cube-2);

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px  20px;
        }

        .card-img {
            border-radius: 16px;
            height: 250px;
            margin-bottom: 36px;
            
            img {
                filter: grayscale(1);
                transition: all .4s var(--pf-cube-2);
            }
        }

        .card-content {
            display: flex;
            align-items: center;
            gap: 40px;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .left {
            width: 100%;
            max-width: 384px;
        }

        .card-title {
            color: var(--pf-clr-black-3);
            font-weight: 600;
            font-size: 23px;
            margin-bottom: 12px;
            transition: all .4s var(--pf-cube-2);

            a {
                width: 100%;
                display: inline !important;
                background-position-y: -1px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1.5px), currentColor 2px);
                transition: all .4s var(--pf-cube-2);

                &:hover {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }

        .card-disc {
            font-size: 16px;
            line-height: 24px;
            opacity: 80%;
        }

        &:hover {
            background: #D1DEF8;
            .card-img {
                img {
                    transform: scale(105%);
                    filter: grayscale(0);
                }
            }
        }
        
    }
    
}








/* 
    services-4-end
*/


/* 
    services-5-start
*/
.pf-services-5 {
    &-sec-title {
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin-bottom: 32px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-feature {
        background: var(--pf-clr-white-2);
        padding: 48px 48px;
        border-radius: 16px;
        position: relative;
        z-index: 1;
        transition: all .4s var(--pf-cube-2);
        overflow: hidden;

        @media #{$lg,$md,$xs} {
            padding: 48px 30px;
        }

        .main-img {
            height: 258px;
            filter: grayscale(1);
            border-radius: 12px;
            border-bottom: 8px solid #c7c5ca36;
            margin-bottom: 34px;
            transition: all .4s var(--pf-cube-2);

            img {
                transition: all .4s var(--pf-cube-2);
            }
        }

        .item-title {
            font-size: 32px;
            margin-bottom: 12px;
            transition: all .4s var(--pf-cube-2);

            @media #{$lg} {
                font-size: 30px;
            }

            @media #{$md} {
                font-size: 28px;
            }

            @media #{$xs} {
                font-size: 24px;
            }

            @media #{$sm} {
                font-size: 26px;
            }

            &:hover {
                color: var(--pf-clr-pr-4);
            }
        }

        .item-disc {
            opacity: 80%;
            margin-bottom: 26px;
        }
        
        &-list {
            font-family: var(--pf-font-p-1);
            color: var(--pf-clr-black-6);
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
        
            li {
                display: flex;
                align-items: baseline;
                gap: 16px;
      
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
        
                .icon {
                    fill: var(--pf-clr-pr-4);
                    transform: translateY(-1px);
                }
            }
        }
        
        .inner-wrap {
            display: flex;
            align-items: end;
            gap: 40px;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .pf-arrow-btn {
            width: 56px;
            height: 56px;
            border: none;
            background: var(--pf-clr-black-6);
            stroke: var(--pf-clr-white-1);

            &:hover {
                background: var(--pf-clr-pr-4);
            }
        }

        .bg-shape {
            fill: #F5ECE4;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            transition: all .1s var(--pf-cube-2);
            svg {
                transition: all .1s var(--pf-cube-2);
                * {
                    transition: all .4s var(--pf-cube-2);
                }

            }
        }


        &:hover {
            background: #F5ECE4;

            .main-img {
                img {
                    transform: scale(103%);
                }
            }

            .bg-shape {
                fill: #FBF6F1;
                svg {
                    path {
                        &:nth-child(1) {
                            transform: translateX(10px);
                        }
                        &:nth-child(2) {
                            transform: translateX(30px);
                        }
                    }
                }   
            }
        }
    }
    
    &-wrap-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr 1fr ;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr ;
        }
    }
    
    &-card {
        background: var(--pf-clr-white-2);
        border-radius: 16px;
        padding: 48px 32px;
        transition: all .5s var(--pf-cube-2);

        @media #{$xl,$lg,$md,$xs} {
            padding: 48px 20px;
        }

        .icon {
            margin-bottom: 75px;
            transition: all 1s var(--pf-cube-2);
        }

        .card-title {
            font-size: 23px;
            margin-bottom: 15px;
            transition: all .3s var(--pf-cube-2);

            @media #{$xl,$lg,$md,$xs} {
                font-size: 20px;
            }

            &:hover {
                color: var(--pf-clr-pr-4);
            }
        }

        .card-disc {
            opacity: 88%;
        }

        &:hover {
            transform: scale(99%);
            .icon {
                transform: translateX(10px);
            }

        }

        &:nth-child(even) {
            background: #F5ECE4;
        }
        
    }
    

}



/* 
    services-5-end
*/