/* 
    solution-1-start
*/
.pf-solution-1 {
    &-area {
        padding-bottom: 260px;

        @media #{$md,$xs} {
            padding-bottom: 120px;
        }
    }

    &-sec-title {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        background-attachment: fixed;
        overflow: hidden;


    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;

        &::after {
            content: "";
            width: 100%;
            height: 200px;
            background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(10,14,14,1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        &::before {
            content: "";
            width: 100%;
            height: 200px;
            background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(10,14,14,1) 95%);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
        }

        .main-img {
            filter: grayscale(1);
            position: relative;
            z-index: 1;
            height: 100%;

            .item-img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50% , -50%);
                opacity: 0;
            }

        }



        &-glow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }

    &-item {
        max-width: 686px;
        width: 100%;
        margin-left: auto;
        display: flex;
        align-items: self-start;

    }

    &-item {

        .pin-spacer {
            width: 78px !important;
        }

        &-number {
            display: flex;
            flex-direction: column;
            gap: 40px;
            position: relative;
            z-index: 1;
            padding-top: 134px;
            padding-bottom: 134px;
            position: sticky;
            top: 0;

            @media #{$md,$xs} {
                display: none;
            }


            &-btn {
                position: relative;
                z-index: 1;
                flex: 0 0 auto;
                display: flex;
                width: 72px;
                height: 72px;
                border: 1px solid var(--pf-clr-gray-1);
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                background: rgb(255 255 255 / 4%);
                backdrop-filter: blur(8px);
                font-size: 23px;
                line-height: 1;
                font-weight: 500;
                color: rgb(255 255 255 / 64%);

                &:nth-child(1) {
                    background: var(--pf-clr-pr-1);
                    color: var(--pf-clr-black-1);
                    border-color: transparent;
                    .pf-solution-1-item-number-line  {
                        height: 180px;
                        background: linear-gradient(0deg, rgb(255 255 255) 0%, rgb(255 255 255 / 0%) 70%);
                    }
                }
            }

            &-line {
                width: 1.5px;
                height: 41px;
                position: absolute;
                left: 36px;
                bottom: 100%;
                background: #fff;
                z-index: -1;
            }

        }


        &-card {
            background: rgb(10 14 14 / 48%);
            backdrop-filter: blur(20px);
            // border-left: 1px solid rgb(255 255 255 / 20%);
            padding-left: 92px;
            margin-left: -36px;
            width: 100%;
            padding-top: 50px;
            position: relative;

            @media #{$md} {
                padding-top: 0vh;
            }

            @media #{$xs} {
                padding-top: 0vh;
                margin-left: 0px;
                padding-left: 20px;
            }

            @media #{$sm} {
                padding-top: 0vh;
                padding-left: 92px;
            }

            &::after {
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(5deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
                opacity: 20%;
            }


            &-single {
                max-width: 388px;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media #{$md,$xs} {
                    height: auto;
                    padding: 50px 0;

                }
    
                .card-subtitle {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 300;
                    color: var(--pf-clr-white-1);
                    opacity: 80%;
                    display: flex;
                    gap: 5px 40px;
                    flex-wrap: wrap;
                    margin-bottom: 78px;
    
                    .number {
                        span {
                            opacity: 64%;
                        }
                    }
                }
    
                .card-title {
                    font-size: 45px;
                    letter-spacing: -1.5px;
                    line-height: 1.155;
                    margin-bottom: 24px;

                    @media #{$xs} {
                        font-size: 25px;
                    }

                    @media #{$sm} {
                        font-size: 30px;
                    }

                    @media #{$md} {
                        font-size: 40px;
                    }
                }
    
                .card-disc {
                    opacity: 64%;
                    margin-bottom: 32px;
                }
                
            }
        }
    }
    
}


/* 
    solution-1-end
*/

/* 
    solution-5-start
*/
.pf-solution-5 {
    &-area {
        padding-top: 425px;
        padding-bottom: 170px;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: -233px;

        @media #{$md,$xs} {
            padding-bottom: 100px;
            padding-top: 325px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 450px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, #FFFFFF 0%, #F3E7FF 100%);
            z-index: -2;
        }
    }

    &-bg-shape {
        position: absolute;
        top: 0;
        left: 20px;
        filter: grayscale(1);
        width: calc(100% - 40px);
        z-index: -1;
    }

    &-bg-shape2 {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 173px;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;

            @media #{$md,$xs} {
                object-fit: cover;
            }
        }
    }

    &-sce-title {
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 71px;
    }

    &-card {
        .pf-services-4-card {
            box-shadow: 0 40px 120px 0 rgba(0,0,0,.12);
            background: #fff;

            .pf-arrow-btn {
                background: var(--pf-clr-sd-4);
                border-color: transparent;
                stroke: var(--pf-clr-black-1);

                svg {
                    &:nth-child(1) {
                        stroke: var(--pf-clr-sd-4);
                    }
                }

                &:hover {
                    background: var(--pf-clr-black-1);
               
                }
            }

            .card-title{
                transition: all 0s var(--pf-cube-2);
            }

            .card-disc{
                transition: all .3s var(--pf-cube-2);
            }

            &:hover {
                background: var(--pf-clr-pr-5);

                .card-disc , .card-title {
                    color: var(--pf-clr-white-1);
                }
            }
        }
    }
}


/* 
    solution-5-end
*/

/* 
    solution-7-start
*/
.pf-solution-7 {
    &-sec-title {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    
    
        .pf-subtitle-3  {
            color: var(--pf-clr-pr-6);
    
            &-line {
                background: var(--pf-clr-pr-6);
            }
        }
    }

    &-item {
        padding: 40px 0;
        border-bottom: 1px dashed  var(--pf-clr-pr-6);
        height: 105px;
        overflow: hidden;
        transition: height .5s var(--pf-cube-2);

        @media #{$xs} {
            height: 100%;
        }


        &:is(.active) {

            @media #{$over,$xxxl,$xxl,$xl,$lg,$md} {
                height: 482px; 
                .item-disc {
                    opacity: 80%;
                }
            }

        }

        &-flex {
            display: flex;
            gap: 160px;

            @media #{$lg} {
                gap: 60px;
            }

            @media #{$md} {
                gap: 50px;
            }

            @media #{$xs} {
                gap: 50px;
                flex-wrap: wrap;
            }
        }

        .item-number {
            flex: 0 0 auto;
            font-size: 16px;
            text-transform: uppercase;
            color: var(--pf-clr-black-1);
            line-height: 1.5;
            align-self: self-start;

            span {
                opacity: 48%;
            }
            
        }

        .content {
            max-width: 420px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        
        
        .item-img {
            max-width: 306px;
            width: 100%;
            border-radius: 16px;
            filter: grayscale(1);
            height: 400px;
            margin-left: auto;
            
        }

        .item-title {
            font-size: 32px;
            letter-spacing: -1px;
            color: var(--pf-clr-black-7);
            line-height: 1.3;
            margin-bottom: 0;
            transition: all .4s var(--pf-cube-2);
            margin-top: -9px;

            @media #{$xl} {
                font-size: 28px;
                margin-top: -3px;
            }

            @media #{$lg} {
                font-size: 28px;
                margin-top: -3px;
            }

            @media #{$md} {
                font-size: 22px;
                margin-top: 5px;
            }

            @media #{$xs} {
                font-size: 22px;
                margin: 0;
            }

            &:hover {
                color: var(--pf-clr-pr-6);
                transform: translateX(3px);
            }
        }
        
        .item-disc {
            opacity: 0;
            transition: all .4s var(--pf-cube-2);

            @media #{$xs} {
                opacity: 80%;
            }
        }
        
        .pf-about-6-btn {
            font-size: 16px;
            margin-top: auto;
            align-self: self-start;
        }
        

        &:nth-child(1) {
            border-top: 1px dashed  var(--pf-clr-pr-6);
        }
    }
}



/* 
    solution-7-end
*/

