/* 
    touch-1-start
*/
.pf-touch-1 {
    &-area {
        padding-top: 230px;
        padding-bottom: 230px;

        @media #{$xl} {
            padding-top: 200px;
            padding-bottom: 200px;
        }

        @media #{$lg,$md} {
            padding-top: 150px;
            padding-bottom: 150px;
        }


        @media #{$xs} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    &-content {
        max-width: 610px;
    }

    &-address {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 50px;

        &-box {
            max-width: 168px;
            width: 100%;

            .box-title {
                font-size: 14px;
                font-weight: 500;
                opacity: 48%;
                margin-bottom: 7px;
            }
            .box-disc {
                font-size: 16px;
                line-height: 24px;
                opacity: 72%;
                letter-spacing: -1px;

                a {
                    transition: all .4s var(--pf-cube-2);
                    &:hover {
                        color: var(--pf-clr-pr-1);
                        transform: translateX(3px);
                    }
                }
            }
        }
    }
    

    &-shape {
        width: 45%;
        position: absolute;
        right: -24%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -2;
        opacity: 50%;
    }

    &-glow {
        position: absolute;
        right: -25%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }

    &-glow-2 {
        position: absolute;
        top: 36%;
        left: -53%;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            top: 0%;
        }
    }

}


/* 
    touch-1-end
*/