/* 
    video-1-start
*/
.pf-video-2 {
    &-sec {
        &-subtitle {
            font-family: var(--pf-font-h-1);
            text-transform: capitalize;
            font-weight: 500;
            line-height: 28px;
            font-size: 16px;
            margin-bottom: 0;
            display: flex;
            gap: 24px;
            max-width: 526px;

            .text {
                flex: 0 0 auto;
            }

            .line {
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
                opacity: 12%;
                margin-top: 9px;
            }
        }
        

        &-title {
            font-weight: 400;
            letter-spacing: -0.8px;
            margin-top: -26px;
            margin-bottom: 110px;

            @media #{$xl,$lg,$md,$xs} {
                margin-top: 30px;
            }

            .text-right {
                display: block;
                text-align: right;
            }
        }
    }
    
}

.pf-video-2 {
    position: relative;
    z-index: 1;

    &-img {
        height: 600px;
        border-radius: 12px;
        filter: grayscale(1);

        @media #{$xs} {
            height: 400px;
        }

        @media #{$sm} {
            height: 600px;
        }
    }

    &-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}


/* 
    video-1-end
*/


/* 
    video-3-start
*/

.pf-video-3 {
    &-slider {
        &-item {
            height: 540px;

            @media #{$xs} {
                height: 400px; 
            }

            @media #{$sm} {
                height: 500px; 
            }

            video {
                filter: grayscale(1);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            img {
                filter: grayscale(1);
            }
        }

        .pf-video-3-prev {
            position: absolute;
            top: 50%;
            left: 12px;
            z-index: 1;
            transform: translateY(-50%);
        }

        .pf-video-3-next {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }

        .pf-slider-btn {
            border: none;
            background: var(--pf-clr-white-1);
            color: var(--pf-clr-pr-3);
            transition: all .4s var(--pf-cube-2);
            cursor: pointer;

            &::after {
                display: none;
            }
            &::before {
                display: none;
            }

            &:hover {
                background: var(--pf-clr-pr-3);
                color: var(--pf-clr-white-1);
            }
        }

        .swiper-container {
            height: 100%;
        }
    }
}

/* 
    video-3-end
*/