/* 
    abstracts
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  scroll-behavior: inherit;
  --pf-font-h-1: "Inter", sans-serif;
  --pf-font-p-1: "Inter", sans-serif;
  --pf-clr-pr-1: #2AC8D3;
  --pf-clr-sd-1: #FCA804;
  --pf-clr-white-1: #ffffff;
  --pf-clr-black-1: #000000;
  --pf-clr-black-2: #0A0E0E;
  --pf-clr-gray-1: #7B7B7B;
  --pf-cube-1: cubic-bezier(0.19, 1, 0.22, 1);
  --pf-cube-2: cubic-bezier(.216, .416, .25, 1);
}

/* 
    global-css-start
*/
body {
  font-family: var(--pf-font-p-1);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--pf-clr-white-1);
  overflow-x: hidden;
}

.img, img {
  max-width: 100%;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a, span {
  display: inline-block;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: none;
  transition: inherit;
}

svg {
  fill: inherit;
  stroke: inherit;
  transition: inherit;
}
svg * {
  fill: inherit;
  stroke: inherit;
  transition: inherit;
}

button {
  border: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

::-moz-selection {
  background-color: #3065D0;
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background-color: #3065D0;
  color: white;
  text-shadow: none;
}

::selection {
  background-color: #3065D0;
  color: white;
  text-shadow: none;
}

input::placeholder, textarea::placeholder {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

input:focus::placeholder, textarea:focus::placeholder {
  opacity: 0;
}

@media (min-width: 1800px), only screen and (min-width: 1600px) and (max-width: 1799px), only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  ::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: none;
    border: none;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--lg-clr-pr-1);
    border-radius: 30px;
  }
}
/* 
    margin-&-padding_variable-start
*/
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-105 {
  margin-left: 105px;
}

.ml-110 {
  margin-left: 110px;
}

.ml-115 {
  margin-left: 115px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-125 {
  margin-left: 125px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-135 {
  margin-left: 135px;
}

.ml-140 {
  margin-left: 140px;
}

.ml-145 {
  margin-left: 145px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-155 {
  margin-left: 155px;
}

.ml-160 {
  margin-left: 160px;
}

.ml-165 {
  margin-left: 165px;
}

.ml-170 {
  margin-left: 170px;
}

.ml-175 {
  margin-left: 175px;
}

.ml-180 {
  margin-left: 180px;
}

.ml-185 {
  margin-left: 185px;
}

.ml-190 {
  margin-left: 190px;
}

.ml-195 {
  margin-left: 195px;
}

.ml-200 {
  margin-left: 200px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-105 {
  margin-right: 105px;
}

.mr-110 {
  margin-right: 110px;
}

.mr-115 {
  margin-right: 115px;
}

.mr-120 {
  margin-right: 120px;
}

.mr-125 {
  margin-right: 125px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-135 {
  margin-right: 135px;
}

.mr-140 {
  margin-right: 140px;
}

.mr-145 {
  margin-right: 145px;
}

.mr-150 {
  margin-right: 150px;
}

.mr-155 {
  margin-right: 155px;
}

.mr-160 {
  margin-right: 160px;
}

.mr-165 {
  margin-right: 165px;
}

.mr-170 {
  margin-right: 170px;
}

.mr-175 {
  margin-right: 175px;
}

.mr-180 {
  margin-right: 180px;
}

.mr-185 {
  margin-right: 185px;
}

.mr-190 {
  margin-right: 190px;
}

.mr-195 {
  margin-right: 195px;
}

.mr-200 {
  margin-right: 200px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

.pb-230 {
  padding-bottom: 230px;
}

.pb-235 {
  padding-bottom: 235px;
}

.pb-240 {
  padding-bottom: 240px;
}

.pb-245 {
  padding-bottom: 245px;
}

.pb-250 {
  padding-bottom: 250px;
}

.pb-255 {
  padding-bottom: 255px;
}

.pb-260 {
  padding-bottom: 260px;
}

.pb-265 {
  padding-bottom: 265px;
}

.pb-270 {
  padding-bottom: 270px;
}

.pb-275 {
  padding-bottom: 275px;
}

.pb-280 {
  padding-bottom: 280px;
}

.pb-285 {
  padding-bottom: 285px;
}

.pb-290 {
  padding-bottom: 290px;
}

.pb-295 {
  padding-bottom: 295px;
}

.pb-300 {
  padding-bottom: 300px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-105 {
  padding-left: 105px;
}

.pl-110 {
  padding-left: 110px;
}

.pl-115 {
  padding-left: 115px;
}

.pl-120 {
  padding-left: 120px;
}

.pl-125 {
  padding-left: 125px;
}

.pl-130 {
  padding-left: 130px;
}

.pl-135 {
  padding-left: 135px;
}

.pl-140 {
  padding-left: 140px;
}

.pl-145 {
  padding-left: 145px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-155 {
  padding-left: 155px;
}

.pl-160 {
  padding-left: 160px;
}

.pl-165 {
  padding-left: 165px;
}

.pl-170 {
  padding-left: 170px;
}

.pl-175 {
  padding-left: 175px;
}

.pl-180 {
  padding-left: 180px;
}

.pl-185 {
  padding-left: 185px;
}

.pl-190 {
  padding-left: 190px;
}

.pl-195 {
  padding-left: 195px;
}

.pl-200 {
  padding-left: 200px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-105 {
  padding-right: 105px;
}

.pr-110 {
  padding-right: 110px;
}

.pr-115 {
  padding-right: 115px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-125 {
  padding-right: 125px;
}

.pr-130 {
  padding-right: 130px;
}

.pr-135 {
  padding-right: 135px;
}

.pr-140 {
  padding-right: 140px;
}

.pr-145 {
  padding-right: 145px;
}

.pr-150 {
  padding-right: 150px;
}

.pr-155 {
  padding-right: 155px;
}

.pr-160 {
  padding-right: 160px;
}

.pr-165 {
  padding-right: 165px;
}

.pr-170 {
  padding-right: 170px;
}

.pr-175 {
  padding-right: 175px;
}

.pr-180 {
  padding-right: 180px;
}

.pr-185 {
  padding-right: 185px;
}

.pr-190 {
  padding-right: 190px;
}

.pr-195 {
  padding-right: 195px;
}

.pr-200 {
  padding-right: 200px;
}

/* 
    margin-&-padding_variable-end
*/
/* 
    global-css-end
*/
@media (min-width: 1400px) {
  .container.pf-container-1 {
    max-width: 1344px;
  }
}
.wa-fix {
  overflow: hidden;
}

.wa-img-cover img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.wa-bg-default {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.flaticon {
  display: inline-block;
  line-height: 0.65;
}

.wa-z-index-3 {
  position: relative;
  z-index: 3;
}

.wa-p-absolute {
  position: absolute;
}

.wa-p-relative {
  position: relative;
  z-index: 1;
}

.wa-fw-400 {
  font-weight: 400;
}

.wa-fw-500 {
  font-weight: 500;
}

.wa-fw-600 {
  font-weight: 600;
}

.wa-fw-700 {
  font-weight: 700;
}

.wa-fw-800 {
  font-weight: 800;
}

.wa-fw-900 {
  font-weight: 900;
}

.wa-ml-auto {
  margin-left: auto;
}

.wa-mr-auto {
  margin-right: auto;
}

.wa-line-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wa-line-limit:is(.has-line-1) {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.wa-line-limit:is(.has-line-2) {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.wa-line-limit:is(.has-line-3) {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.wa-line-limit:is(.has-line-4) {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.wa-line-limit:is(.has-line-5) {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}
.wa-line-limit:is(.has-line-6) {
  -webkit-line-clamp: 6;
  line-clamp: 6;
}
.wa-line-limit:is(.has-line-7) {
  -webkit-line-clamp: 7;
  line-clamp: 7;
}
.wa-line-limit:is(.has-line-8) {
  -webkit-line-clamp: 8;
  line-clamp: 8;
}
.wa-line-limit:is(.has-line-9) {
  -webkit-line-clamp: 9;
  line-clamp: 9;
}
.wa-line-limit:is(.has-line-10) {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

.wa-tran-3ms {
  transition: all 300ms var(--wa-cube-1);
}

.wa-tran-4ms {
  transition: all 400ms var(--wa-cube-1);
}

.wa-tran-5ms {
  transition: all 500ms var(--wa-cube-1);
}

.wa-tran-6ms {
  transition: all 600ms var(--wa-cube-1);
}

.wa-tran-7ms {
  transition: all 700ms var(--wa-cube-1);
}

.wa-tran-8ms {
  transition: all 800ms var(--wa-cube-1);
}

.wa-tran-9ms {
  transition: all 900ms var(--wa-cube-1);
}

.wa-tran-1s {
  transition: all 1000ms var(--wa-cube-1);
}

/* 

    components
*/
/* 
    all-title-paragraph-components-start
*/
.pf-h-1 {
  font-family: var(--lg-font-h);
  color: var(--pf-clr-white-1);
  text-transform: capitalize;
  line-height: 1.093;
  margin-bottom: 0px;
}

.pf-p-1 {
  font-family: var(--pf-font-p-1);
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
  color: var(--pf-clr-white-1);
  margin-bottom: 0px;
}
.pf-p-1:is(.has-opa-72) {
  opacity: 72%;
}

.pf-subtitle-1 {
  font-family: var(--pf-font-h-1);
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.72);
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
  line-height: 1.5;
  display: inline-block;
  border: 1.5px solid;
  padding: 2px 17px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.pf-subtitle-1::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 8px;
  top: 12px;
  opacity: 72%;
}
.pf-subtitle-1::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: 8px;
  top: 12px;
  opacity: 72%;
}

.pf-sec-title-1 {
  font-family: var(--pf-font-h-1);
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 600;
  color: var(--pf-clr-white-1);
  letter-spacing: -1.2px;
  line-height: 1.155;
  margin-bottom: 0;
}
.pf-sec-title-1 .dot {
  color: var(--pf-clr-pr-1);
}
.pf-sec-title-1:is(.has-opa-80) {
  opacity: 80%;
}
.pf-sec-title-1:is(.has-opa-64) {
  opacity: 64%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-sec-title-1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pf-sec-title-1 {
    font-size: 35px;
    letter-spacing: -1px;
  }
}
@media (max-width: 767px) {
  .pf-sec-title-1 {
    font-size: 26px;
    letter-spacing: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-sec-title-1 {
    font-size: 30px;
    letter-spacing: 0px;
  }
}
.pf-sec-title-1:is(.has-fs-64) {
  font-size: 64px;
  line-height: 1.093;
}

/* 
    all-title-paragraph-components-end
*/
/* 
    button-component-start
*/
/* menu-btn */
.pf-menu-btn-1 {
  cursor: pointer;
  stroke: var(--pf-clr-white-1);
  opacity: 64%;
  transition: all 0.4s var(--pf-cube-2);
}
.pf-menu-btn-1:hover {
  opacity: 100%;
}

/* search-btn-1 */
.pf-search-btn-1 {
  border: none;
  outline: none;
  flex: 0 0 auto;
  background: transparent;
  padding: 0;
  stroke: var(--pf-clr-white-1);
  opacity: 64%;
  transition: all 0.4s var(--pf-cube-2);
}
.pf-search-btn-1:hover {
  opacity: 100%;
}

/* pr-btn-1 */
.pf-pr-1 {
  flex: 0 0 auto;
  font-family: var(--pf-font-h-1);
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.04);
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 12px;
  padding: 16px 24px;
  color: var(--pf-clr-pr-1);
  transition: all 0.4s var(--pf-cube-2);
}
.pf-pr-1:hover {
  background-color: var(--pf-clr-pr-1);
  color: var(--pf-clr-white-1);
}

/* free-phone */
.pf-free-phone-1 {
  display: inline-flex;
  font-family: var(--pf-font-h-1);
  font-size: 16px;
  font-weight: 300;
  align-items: center;
  color: rgba(255, 255, 255, 0.64);
  gap: 12px;
}
.pf-free-phone-1 .icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  stroke: var(--pf-clr-pr-1);
  background: rgba(42, 200, 211, 0.04);
  border-radius: 50%;
  padding: 9px;
}
.pf-free-phone-1 b {
  color: rgba(255, 255, 255, 0.8);
}

/* 
    button-component-end
*/
/* 

    layout
*/
/* 
    header-1-start
*/
.pf-header-1-area {
  position: absolute;
  top: 32px;
  width: 100%;
  left: 0;
  z-index: 5;
}
.pf-header-1-row {
  gap: 30px;
}
.pf-header-1-action-link {
  gap: 20px;
  padding: 17px 20px;
  border: 1px solid var(--pf-clr-pr-1);
  border-radius: 12px;
}
.pf-header-1-action-link-line {
  width: 1px;
  height: 24px;
  background-color: var(--pf-clr-white-1);
  opacity: 24%;
}

.pf-header-menu-area {
  position: fixed;
  top: 755px;
  width: 100%;
  left: 0;
  z-index: 6;
  transition: all 1s var(--pf-cube-1);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-header-menu-area {
    top: 630px;
  }
}
.pf-header-menu-area:is(.sticky1) {
  top: 30px;
}
.pf-header-menu-area:is(.sticky1) .vy-main-navigation .navbar-nav li .dropdown-menu {
  top: 102%;
  transform-origin: top;
}
.pf-header-menu-width {
  width: 100%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}

.vy-main-navigation .navbar-nav {
  flex-direction: row;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.04) 100%);
  padding: 0 8px;
  border-radius: 12px;
  border: 1px solid;
}
.vy-main-navigation .navbar-nav li {
  display: inline-block;
  position: relative;
  transition: all 0.4s var(--pf-cube-1);
}
.vy-main-navigation .navbar-nav li:is(.dropdown) > a {
  padding-right: 28px;
}
.vy-main-navigation .navbar-nav li:is(.dropdown) > a::before {
  content: "\f078";
  font-family: "Font Awesome 6 free";
  font-weight: 700;
  position: absolute;
  font-size: 12px;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  transition: 400ms ease-in-out;
  color: var(--vy-clr-pr-1);
  opacity: 64%;
}
.vy-main-navigation .navbar-nav li a {
  position: relative;
  z-index: 1;
  font-family: var(--pf-font-h-1);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--pf-clr-white-1);
  padding: 16px 14px;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1;
  transition: all 0.4s var(--pf-cube-1);
  opacity: 64%;
}
.vy-main-navigation .navbar-nav li a::after {
  content: "";
  width: 100%;
  height: 32px;
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(42, 200, 211, 0.04) 0%, rgba(42, 200, 211, 0.72) 100%);
  transition: all 0.4s var(--pf-cube-1);
  transform: scale(0.5);
  opacity: 0;
}
.vy-main-navigation .navbar-nav li a:is(.has-active) {
  opacity: 1;
}
.vy-main-navigation .navbar-nav li a:is(.has-active)::after {
  opacity: 1;
  transform: scale(1);
}
.vy-main-navigation .navbar-nav li a:is(.has-active)::before {
  opacity: 1;
}
.vy-main-navigation .navbar-nav li .dropdown-menu {
  left: 0;
  bottom: 102%;
  z-index: 100;
  margin: 0px;
  padding: 20px 0px;
  height: auto;
  min-width: 200px;
  display: block;
  border: none;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.04) 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 2px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.vy-main-navigation .navbar-nav li .dropdown-menu li {
  display: block;
  margin: 0;
  position: relative;
}
.vy-main-navigation .navbar-nav li .dropdown-menu li a {
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 14px;
}
.vy-main-navigation .navbar-nav li .dropdown-menu li a::after {
  top: 0;
}
.vy-main-navigation .navbar-nav li .dropdown-menu li:is(.dropdown) > a::before {
  right: 20px;
  top: 49%;
}
.vy-main-navigation .navbar-nav li .dropdown-menu li .dropdown-menu {
  bottom: 0;
  left: 100%;
  min-width: 200px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.04) 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .vy-main-navigation .navbar-nav li .dropdown-menu li .dropdown-menu {
    min-width: 200px;
  }
}
.vy-main-navigation .navbar-nav li .dropdown-menu li:hover a {
  color: white;
}
.vy-main-navigation .navbar-nav li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.vy-main-navigation .navbar-nav li:hover {
  opacity: 1;
}
.vy-main-navigation .navbar-nav li:hover > a {
  color: var(--vy-clr-pr-1);
  opacity: 1;
}
.vy-main-navigation .navbar-nav li:hover > a::after {
  opacity: 1;
  transform: scale(1);
}
.vy-main-navigation .navbar-nav li:hover > a::before {
  opacity: 1;
}
.vy-main-navigation .navbar-nav li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

/* 
    header-1-end
*/
/* 
    hero-1-start
*/
.pf-hero-1-area {
  padding-top: 115px;
}
.pf-hero-1-row {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-right: -90px;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-hero-1-row {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .pf-hero-1-row {
    margin-right: 0px;
    flex-wrap: wrap;
  }
}
.pf-hero-1-content {
  max-width: 510px;
  margin-top: 155px;
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .pf-hero-1-content {
    margin-top: 55px;
  }
}
.pf-hero-1-content .title {
  margin-bottom: 25px;
  font-size: 45px;
}
@media (max-width: 767px) {
  .pf-hero-1-content .title {
    font-size: 35px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-hero-1-content .title {
    font-size: 40px;
  }
}
.pf-hero-1-content .disc {
  margin-bottom: 33px;
}
.pf-hero-1-img {
  position: relative;
  z-index: 1;
}
.pf-hero-1-img-main {
  height: 725px;
  overflow: hidden;
  opacity: 72%;
  mix-blend-mode: difference;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-hero-1-img-main {
    height: 595px;
    display: flex;
    align-items: end;
  }
}
@media (max-width: 767px) {
  .pf-hero-1-img-main {
    height: auto;
    display: flex;
    align-items: end;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-hero-1-img-main {
    height: auto;
    display: block;
    align-items: end;
  }
}
.pf-hero-1-img-text {
  display: flex;
  align-items: self-start;
  position: absolute;
  bottom: 35%;
  left: -16px;
  z-index: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-hero-1-img-text {
    left: -146px;
  }
}
@media (max-width: 767px) {
  .pf-hero-1-img-text {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-hero-1-img-text {
    display: flex;
  }
}
.pf-hero-1-img-text-box {
  width: 100%;
  max-width: 180px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 16px;
  text-align: right;
  backdrop-filter: blur(8px);
}
.pf-hero-1-img-text-shape {
  fill: var(--pf-clr-white-1);
  margin-top: 26px;
  margin-left: -9px;
  z-index: 1;
}
.pf-hero-1-img-text-shape path {
  fill: transparent;
  stroke: var(--pf-clr-white-1);
}
.pf-hero-1-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 16%;
}
.pf-hero-1-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.pf-hero-1-social-posi {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
@media (max-width: 767px) {
  .pf-hero-1-social-posi {
    top: 70%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-hero-1-social-posi {
    top: 50%;
  }
}
.pf-hero-1-social {
  display: inline-flex;
  gap: 12px;
  flex-direction: column;
  align-items: end;
}
.pf-hero-1-social-single {
  display: inline-flex;
  align-items: center;
  gap: 11px;
  transition: all 0.4s var(--pf-cube-2);
  overflow: hidden;
}
.pf-hero-1-social-single .text {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--pf-clr-pr-1);
  transform: translateX(100%);
  transition: all 0.4s var(--pf-cube-2);
  opacity: 0;
}
.pf-hero-1-social-single .icon {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50%;
  flex: 0 0 auto;
  font-size: 15px;
  color: var(--pf-clr-white-1);
  opacity: 64%;
  transition: all 0.4s var(--pf-cube-2);
}
.pf-hero-1-social-single:hover .text {
  transform: translateX(0);
  opacity: 1;
}
.pf-hero-1-social-single:hover .icon {
  color: var(--pf-clr-pr-1);
  opacity: 100%;
}

/* 
    hero-1-end
*/
/* 
    client-1-start
*/
.pf-client-1-sec-title {
  font-size: 20px;
  line-height: 33px;
  font-weight: 400;
  opacity: 72%;
  margin-bottom: 38px;
}
.pf-client-1-item-row {
  display: flex;
  align-items: center;
  gap: 140px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-client-1-item-row {
    gap: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pf-client-1-item-row {
    gap: 80px;
  }
}
@media (max-width: 767px) {
  .pf-client-1-item-row {
    gap: 40px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-client-1-item-row {
    gap: 60px;
  }
}
.pf-client-1-logo {
  perspective: 2000px;
  transform-style: preserve-3d;
}
.pf-client-1-logo img:nth-child(1) {
  transform: translateY(0%) rotateX(0deg);
  opacity: 64%;
  transition: opacity 0.3s var(--pf-cube-2), transform 0.7s var(--pf-cube-2);
  transition-delay: 0s;
}
.pf-client-1-logo img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%) rotateX(80deg);
  opacity: 0;
  transition: opacity 0.3s var(--pf-cube-2), transform 0.7s var(--pf-cube-2);
  transition-delay: 0.1s;
}
.pf-client-1-logo:hover img:nth-child(1) {
  transform: translateY(100%) rotateX(-80deg);
  opacity: 0;
  transition-delay: 0.1s;
}
.pf-client-1-logo:hover img:nth-child(2) {
  transform: translate(-50%, -50%) rotateX(0deg);
  opacity: 100%;
  transition-delay: 0s;
}

/* 
    client-1-end
*/
/* 
    services-1-start
*/
.pf-services-1-sec-title {
  font-size: 32px;
  line-height: 1.31;
  letter-spacing: -0.5px;
  opacity: 80%;
  max-width: 695px;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .pf-services-1-sec-title {
    font-size: 26px;
    letter-spacing: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-services-1-sec-title {
    font-size: 30px;
  }
}
.pf-services-1-item-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pf-services-1-item-row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .pf-services-1-item-row {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-services-1-item-row {
    grid-template-columns: 1fr 1fr;
  }
}
.pf-services-1-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.pf-services-1-item::after {
  content: "";
  width: 1px;
  height: 170px;
  background-color: var(--pf-clr-white-1);
  opacity: 12%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.pf-services-1-item::before {
  content: "+";
  font-size: 16px;
  line-height: 1;
  position: absolute;
  left: -4px;
  bottom: -7px;
}
.pf-services-1-item .maxwidth {
  max-width: 305px;
  width: 100%;
}
.pf-services-1-item .icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 37px;
}
.pf-services-1-item .icon img {
  filter: grayscale(1);
}
.pf-services-1-item .icon::after {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--pf-clr-pr-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(40px);
  z-index: unset;
}
.pf-services-1-item .item-title {
  font-size: 23px;
  font-weight: 400;
  opacity: 72%;
  margin-bottom: 19px;
}
.pf-services-1-item .item-disc {
  font-size: 16px;
  line-height: 24px;
  opacity: 64%;
}
.pf-services-1-item .dot-shape {
  fill: var(--pf-clr-white-1);
  position: absolute;
  bottom: -9px;
  left: -8px;
  display: none;
}
.pf-services-1-item:nth-child(1)::after {
  display: none;
}
.pf-services-1-item:nth-child(1)::before {
  display: none;
}
.pf-services-1-item:nth-child(1) .dot-shape {
  display: inline-block;
}
.pf-services-1-item:last-child .dot-shape {
  display: inline-block;
  bottom: -9px;
  left: unset;
  right: -8px;
}

/* 
    services-1-end
*/
/* 
    about-1-start
*/
.pf-about-1-area {
  position: relative;
  padding-top: 350px;
  padding-bottom: 70px;
}
.pf-about-1-sec-title {
  max-width: 655px;
  text-align: center;
  margin-bottom: 60px;
}
.pf-about-1-earth {
  position: relative;
}
.pf-about-1-earth-img {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: color-dodge;
}
@media (max-width: 767px) {
  .pf-about-1-earth-img {
    width: 100%;
  }
}
.pf-about-1-earth-text {
  display: flex;
  align-items: self-start;
  position: absolute;
  top: 106px;
  left: 50px;
  z-index: 1;
}
.pf-about-1-earth-text-box {
  width: 100%;
  max-width: 160px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 16px;
  backdrop-filter: blur(8px);
}
.pf-about-1-earth-text-shape {
  fill: var(--pf-clr-white-1);
  margin-top: 26px;
  margin-left: -9px;
  z-index: 1;
}
@media (max-width: 767px) {
  .pf-about-1-earth-text-shape {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-about-1-earth-text-shape {
    display: inline-block;
  }
}
.pf-about-1-earth-text-shape path {
  fill: transparent;
  stroke: var(--pf-clr-white-1);
}
.pf-about-1-earth-text-2 {
  display: flex;
  align-items: self-start;
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 1;
}
.pf-about-1-earth-text-2-box {
  width: 100%;
  max-width: 185px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 16px;
  backdrop-filter: blur(8px);
}
.pf-about-1-earth-text-2-shape {
  fill: var(--pf-clr-white-1);
  margin-top: 26px;
  margin-right: -9px;
  z-index: 1;
}
@media (max-width: 767px) {
  .pf-about-1-earth-text-2-shape {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-about-1-earth-text-2-shape {
    display: inline-block;
  }
}
.pf-about-1-earth-text-2-shape path {
  fill: transparent;
  stroke: var(--pf-clr-white-1);
}
.pf-about-1-disc {
  font-size: 23px;
  text-align: center;
  line-height: 1.56;
  opacity: 64%;
  max-width: 690px;
}
@media (max-width: 767px) {
  .pf-about-1-disc {
    font-size: 18px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-about-1-disc {
    font-size: 20px;
  }
}
.pf-about-1-line-shape {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .pf-about-1-line-shape {
    display: none;
  }
}
.pf-about-1-line-shape-single {
  fill: transparent;
  stroke: var(--pf-clr-white-1);
}
.pf-about-1-line-shape-single circle {
  fill: var(--pf-clr-white-1);
}
.pf-about-1-line-shape-single .flash-ani2 {
  animation: flash 2s linear infinite;
}
.pf-about-1-line-shape-single .flash-ani3 {
  animation: flash 3s linear infinite;
}
.pf-about-1-line-shape-single .pr-stroke {
  stroke: var(--pf-clr-pr-1);
}
.pf-about-1-bg-shape {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - 200px);
}
.pf-about-1-glow-1 {
  position: absolute;
  top: -30%;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: -2;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .pf-about-1-glow-1 {
    top: -23%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .pf-about-1-glow-1 {
    top: -19%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-about-1-glow-1 {
    top: -14%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pf-about-1-glow-1 {
    top: -10%;
  }
}
@media (max-width: 767px) {
  .pf-about-1-glow-1 {
    top: -5%;
  }
}
.pf-about-1-glow-2 {
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -2;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .pf-about-1-glow-2 {
    bottom: -36%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .pf-about-1-glow-2 {
    bottom: -32%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-about-1-glow-2 {
    bottom: -30%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pf-about-1-glow-2 {
    bottom: -26%;
  }
}
@media (max-width: 767px) {
  .pf-about-1-glow-2 {
    bottom: -16%;
  }
}

/* 
    about-1-end
*/
/* 
    counter-1-start
*/
.pf-counter-1 {
  display: flex;
  gap: 20px 60px;
  flex-wrap: wrap;
  justify-content: center;
}
.pf-counter-1-item {
  display: flex;
  align-items: end;
  gap: 16px;
  max-width: 235px;
  width: 100%;
}
.pf-counter-1-item-number {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  display: flex;
  align-items: end;
  gap: 5px;
}
.pf-counter-1-item-number .counter {
  opacity: 64%;
}
.pf-counter-1-item-number .text {
  display: inline-block;
  font-size: 32px;
  color: var(--pf-clr-pr-1);
  margin-bottom: 4px;
}
.pf-counter-1-item-disc {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  opacity: 64%;
  margin-bottom: 5px;
}

/* 
    counter-1-end
*/
/* 
    solution-1-start
*/
.pf-solution-1-sec-title {
  max-width: 545px;
  margin-left: auto;
  margin-right: auto;
}
.pf-solution-1-wrap {
  background-attachment: fixed;
  overflow: hidden;
}
.pf-solution-1-wrap::after {
  content: "";
  width: 100%;
  height: 200px;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgb(10, 14, 14) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.pf-solution-1-wrap::before {
  content: "";
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgb(10, 14, 14) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.pf-solution-1-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.pf-solution-1-bg .main-img {
  filter: grayscale(1);
}
.pf-solution-1-bg-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pf-solution-1-item {
  max-width: 686px;
  width: 100%;
  margin-left: auto;
  display: flex;
  align-items: self-start;
}
.pf-solution-1-item-number {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
  padding-top: 134px;
  padding-bottom: 134px;
  position: sticky;
  top: 0;
}
.pf-solution-1-item-number-btn {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  width: 72px;
  height: 72px;
  border: 1px solid var(--pf-clr-gray-1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
  font-size: 23px;
  line-height: 1;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.64);
}
.pf-solution-1-item-number-line {
  width: 1.5px;
  height: 180px;
  position: absolute;
  left: 36px;
  bottom: 100%;
  background: #fff;
  z-index: -1;
}
.pf-solution-1-item-card {
  background: rgba(10, 14, 14, 0.48);
  backdrop-filter: blur(20px);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 92px;
  margin-left: -36px;
  width: 100%;
}
.pf-solution-1-item-card-single {
  max-width: 388px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pf-solution-1-item-card-single .card-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: var(--pf-clr-white-1);
  opacity: 80%;
  display: flex;
  gap: 5px 40px;
  flex-wrap: wrap;
  margin-bottom: 78px;
}
.pf-solution-1-item-card-single .card-subtitle .number span {
  opacity: 64%;
}
.pf-solution-1-item-card-single .card-title {
  font-size: 45px;
  letter-spacing: -1.5px;
  line-height: 1.155;
  margin-bottom: 24px;
}
.pf-solution-1-item-card-single .card-disc {
  opacity: 64%;
  margin-bottom: 32px;
}

/* 
    solution-1-end
*/
/* 
    feature-1-start
*/
.pf-feature-1-area {
  padding-top: 210px;
  padding-bottom: 205px;
}
@media (max-width: 767px) {
  .pf-feature-1-area {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.pf-feature-1-sec-title {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}
.pf-feature-1-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .pf-feature-1-item {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .pf-feature-1-item {
    grid-template-columns: 1fr;
  }
}
.pf-feature-1-item-single {
  display: flex;
  gap: 24px;
}
.pf-feature-1-item-single .icon {
  display: inline-block;
  max-width: 72px;
  flex: 0 0 auto;
}
.pf-feature-1-item-single .item-title {
  font-size: 23px;
  line-height: 29px;
  opacity: 80%;
  margin-bottom: 11px;
}
@media (max-width: 767px) {
  .pf-feature-1-item-single .item-title {
    font-size: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-feature-1-item-single .item-title {
    font-size: 23px;
  }
}
.pf-feature-1-item-single .item-disc {
  font-size: 16px;
  line-height: 24px;
  opacity: 64%;
}
.pf-feature-1-bg-shape {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.pf-feature-1-bg-glow-1 {
  position: absolute;
  top: -60%;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: -2;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .pf-feature-1-bg-glow-1 {
    top: -50%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .pf-feature-1-bg-glow-1 {
    top: -40%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-feature-1-bg-glow-1 {
    top: -30%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pf-feature-1-bg-glow-1 {
    top: -20%;
  }
}
@media (max-width: 767px) {
  .pf-feature-1-bg-glow-1 {
    top: -5%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-feature-1-bg-glow-1 {
    top: -10%;
  }
}
.pf-feature-1-bg-glow-2 {
  position: absolute;
  bottom: -60%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -2;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .pf-feature-1-bg-glow-2 {
    bottom: -50%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .pf-feature-1-bg-glow-2 {
    bottom: -40%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pf-feature-1-bg-glow-2 {
    bottom: -30%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pf-feature-1-bg-glow-2 {
    bottom: -26%;
  }
}
@media (max-width: 767px) {
  .pf-feature-1-bg-glow-2 {
    bottom: -6%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pf-feature-1-bg-glow-2 {
    top: -15%;
  }
}

/* 
    feature-1-end
*/
/* 
    overview-1-start
*/
.pf-overview-1-sec-title {
  max-width: 830px;
}
.pf-overview-1-wrap {
  position: relative;
}
.pf-overview-1-bg-circle {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  opacity: 30%;
}
.pf-overview-1-tabs-btn-link {
  border: none;
  outline: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.12);
  position: relative;
}
.pf-overview-1-tabs-btn-link::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
}
.pf-overview-1-tabs-pane {
  max-width: 303px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 35px 40px;
  backdrop-filter: blur(8px);
}
.pf-overview-1-tabs-pane .title {
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
  opacity: 80%;
  margin-bottom: 14px;
}
.pf-overview-1-tabs-pane .item-title {
  font-size: 16px;
  line-height: 28px;
  opacity: 80%;
  font-weight: 400;
  margin-bottom: 2px;
}
.pf-overview-1-tabs-pane .item-link {
  line-height: 26px;
  opacity: 64%;
}
.pf-overview-1-tabs-pane .item-link:not(:last-child) {
  margin-bottom: 11px;
}
.pf-overview-1-tabs-pane .tab-pane {
  position: relative;
  z-index: 1;
}
.pf-overview-1-tabs-pane .tab-pane::after {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 35px;
  left: -49px;
  opacity: 12%;
}
.pf-overview-1-tabs-pane .tab-pane::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: -44px;
}

/* 
    overview-1-end
*/
/* 

    pages
*/
/* 
    home-1-start
*/
.pf-home-1 {
  background-color: var(--pf-clr-black-2);
}

/* 
    home-1-end
*/

/*# sourceMappingURL=main.css.map */
