/* 
    career-1-start
*/

.pf-career-benefit-1 {
    
    &-sec-title {
        max-width: 600px;
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            border: 1px solid #DBDBDB;
            border-radius: 8px;
            padding: 34px 36px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 34px 20px;
            }
            
            .item-icon {
                width: 52px;
                margin-bottom: 24px;
            }

            .item-title {
                font-size: 20px;
                margin-bottom: 16px;
            }

            .item-disc {
                font-size: 16px;
                line-height: 26px;
                opacity: 72%;
            }

            &:hover {
                .item-icon {
                    animation: fd-bounce-2 1s;
                }
            }
        }
        
    }
    
}

.pf-career-gallery-1 {
    &-wrap {
        display: grid;
        grid-template-columns: 1.5fr 1fr .5fr;
        gap: 48px;

        @media #{$md} {
            grid-template-columns: 1.5fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns:  1fr;
        }
    }

    &-sec-title {
        margin-top: 110px;
        margin-bottom: 151px;

        @media #{$xs} {
            margin-top: 0;
            margin-bottom: 50px;
        }
    }

    &-img-1 {
        height: 386px;
    }

    &-img-2 {
        max-width: 271px;
        height: 227px;
        margin-left: auto;
        margin-bottom: 240px;

        @media #{$xs} {
            margin-bottom: 50px;
        }
    }

    &-disc {
        font-size: 17px;
        line-height: 30px;
        opacity: 82%;
        max-width: 317px;
    }

    &-big-img {
        margin-right: -360px;
        height: 771px;
        margin-top: 20px;

        @media #{$xxxl} {
            margin-right: -200px;
        }

        @media #{$xxl} {
            margin-right: -100px;
        }

        @media #{$xl,$lg,} {
            margin-right: 0px;
        }

        @media #{$md,$xs} {
            margin-right: 0px;
            height: 300px;
        }
    }
    
}


.pf-career-opening-1 {
    &-sec-title {
        max-width: 730px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 17px;
            opacity: 72%;
        }
    }
    
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        background-color: #F5F5F5;
        border-radius: 10px;
        padding: 45px 48px;

        @media #{$md} {
            padding: 45px 20px;
        }

        @media #{$xs} {
            padding: 45px 20px;
        }

        @media #{$sm} {
            padding: 45px 48px;
        }

        .item-title {
            font-size: 24px;
            margin-bottom: 19px;
            transition: all .3s var(--pf-cube-2);

            @media #{$md,$xs} {
                font-size: 20px;
            }

            &:hover {
                color: var(--pf-clr-pr-1);
                transform: translateX(3px);
            }
        }

        
        .item-tag {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
        
            li {
                font-size: 14px;
                line-height: 1;
                text-transform: capitalize;
                font-weight: 400;
                color: #414141;
                background: #fff;
                padding: 10px 14px;
            }
        }

        .item-disc {
            margin-bottom: 24px;
            opacity: 72%;
        }
    }
}



.pf-career-single {
    &-content {
        max-width: 730px;
        @media #{$md,$xs} {
            margin-bottom: 50px;
        }
    
        h1,h2,h3,h4,h5,h6,p,span,li {
            font-family: var(--pf-font-h-1);
            color: #000;
        }
    
        h1,h2,h3,h4,h5,h6 {
            &:not(:first-child) {
                padding-top: 15px;
            }
        }

        h1 {
            font-size: 40px;
            line-height: 1.25;
            font-weight: 600;
            margin-bottom: 23px;
            text-transform: capitalize;
            @media #{$lg} {
                font-size: 36px;
            }
            @media #{$md} {
                font-size: 32px;
            }
    
            @media #{$xs} {
                font-size: 26px;
            }
        }
    
        > h2 {
            font-size: 36px;
            line-height: 1.25;
            font-weight: 600;
            margin-bottom: 23px;
            text-transform: capitalize;

            @media #{$lg} {
                font-size: 32px;
            }
            @media #{$md} {
                font-size: 28px;
            }
    
            @media #{$xs} {
                font-size: 24px;
            }
        }
    
        h3 {
            font-size: 28px;
            line-height: 1.25;
            font-weight: 600;
            margin-bottom: 23px;
            text-transform: capitalize;
    
            @media #{$lg} {
                font-size: 26px;
            }
    
            @media #{$md} {
                font-size: 24px;
            }
    
            @media #{$xs} {
                font-size: 22px;
            }
        }
    
        h4 {
            font-size: 28px;
            line-height: 1.25;
            font-weight: 600;
            margin-bottom: 23px;
            text-transform: capitalize;
    
            @media #{$lg} {
                font-size: 22px;
            }
    
            @media #{$md,$xs} {
                font-size: 20px;
            }
        }
    
        h5 {
            font-size: 22px;
            line-height: 1.25;
            font-weight: 600;
            margin-bottom: 23px;
            text-transform: capitalize;
    
            @media #{$lg,$md,$xs} {
                font-size: 18px;
            }
        }
    
        h6 {
            font-size: 18px;
            line-height: 1.25;
            font-weight: 600;
            margin-bottom: 23px;
            text-transform: capitalize;
        }
    
        p {
            opacity: 72%;
            font-weight: 400;
            line-height: 28px;
            font-size: 18px;
            margin-bottom: 18px;
            
        }
    
    
        ul {
            &:not(:last-child) {
                margin-bottom: 45px;
            }

            li {
                font-size: 18px;
                line-height: 28px;
                opacity: 72%;
                padding-left: 16px;
                position: relative;
                z-index: 1;
    
                &:not(:last-child) {
                    margin-bottom: 18px;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: 0;
                    background: var(--pf-clr-pr-1);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                }
    
            }
        }

    }

    &-sidebar {
        background: #EEEEEE;
        padding: 40px;
        border-radius: 12px;

        @media #{$lg} {
            padding: 40px 20px;
        }

        @media #{$xs} {
            padding: 40px 20px;
        }

        @media #{$sm} {
            padding: 40px;
        }

        &-list {
            margin-bottom: 28px;
            li {
                font-family: var(--pf-font-h-1);
                color: #000;
                font-size: 18px;
                line-height: 28px;
                display: flex;
                align-items: center;
                gap: 8px;
                border-bottom: 1px solid #DFE1E5;
                padding-bottom: 17px;
                
                &:not(:last-child) {
                    margin-bottom: 18px;
                }
    
                span {
                    opacity: 72%;
                    margin-left: auto;
                }

                svg {
                    path {
                        fill: var(--pf-clr-pr-1);
                    }
                }

                &:nth-child(1) {
                    svg {
                        path {
                            stroke: var(--pf-clr-pr-1);
                            &:nth-child(1) {
                                fill: transparent;

                            }

                        }
                    }
                }
                
            }
        }

        &-btn {
           width: 100%;
           justify-content: center;
        }
    }
}

/* 
    career-1-end
*/
